<div id="facilities-wrapper" class="d-flex">
  <div
    class="d-flex flex-column position-relative flex-fill"
    style="max-width: 100%"
  >
    <div id="main-container" class="p-4 flex-fill d-flex flex-column">
      <div class="container-lg mb-3">
        <div class="card shadow-0">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <div></div>
              <div class="d-flex align-items-center">
                <mdb-form-control class="me-2">
                  <input
                    mdbInput
                    type="text"
                    id="filter"
                    class="form-control form-control-sm"
                    (keyup)="search($event)"
                  />
                  <label mdbLabel class="form-label" for="filter">Filter</label>
                </mdb-form-control>
                <button
                  type="button"
                  class="btn btn-primary btn-sm shadow-0"
                  (click)="openNewFacilityModal()"
                >
                  Add New Facility
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-lg h-100" [ngStyle]="{ overflow: 'hidden' }">
        <div class="card h-100 shadow-0">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <h5 class="mb-0 me-3">
                  {{ (facilitiesServ.facilities$ | async)?.length || 0 }}
                  Facilities
                </h5>
              </div>
              <div></div>
            </div>
          </div>
          <div
            class="card-body flex-fill p-0"
            [ngStyle]="{ 'max-height': ' 100%', overflow: 'auto' }"
          >
            <div
              class="datatable"
              [ngStyle]="{
                overflow: 'auto',
                'max-height': '100%',
                height: '100%'
              }"
            >
              <div
                class="datatable-inner"
                mdbScrollbar
                [config]="config"
                style="position: relative; width: 100%; height: 100%"
              >
                <table
                  class="table datatable-table align-middle"
                  mdbTable
                  [fixedHeader]="true"
                  mdbTableSort
                  #table="mdbTable"
                  #sort="mdbTableSort"
                  [dataSource]="(facilitiesServ.facilities$ | async) || []"
                  [pagination]="pagination"
                  [sort]="sort"
                  [filterFn]="filterFn"
                  [sm]="true"
                  [striped]="true"
                >
                  <thead class="datatable-header">
                    <tr>
                      <th
                        *ngFor="let header of headers"
                        [mdbTableSortHeader]="header"
                        scope="col"
                      >
                        {{ header | titlecase }}
                      </th>
                    </tr>
                  </thead>
                  <tbody class="datatable-body">
                    <tr
                      *ngFor="let facility of table.data; index as i"
                      scope="row"
                    >
                      <td>{{ facility.code }}</td>
                      <td>{{ facility.site }}</td>
                      <td>
                        <div class="d-flex align-items-center">
                          <span class="badge badge-primary">
                            {{ facility.state }}
                          </span>
                        </div>
                      </td>
                      <td>
                        <button
                          class="btn btn-primary btn-floating btn-sm"
                          (click)="openEditFacilityUserModal(facility)"
                        >
                          <i class="fa fa-edit"></i>
                        </button>
                        <button
                          class="btn ms-2 btn-danger btn-floating btn-sm"
                          (click)="deleteFacility(facility.uid, facility.site)"
                        >
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div
            class="card-footer"
            [ngClass]="{
              'visually-hidden':
                ((facilitiesServ.facilities$ | async)?.length || 0) < 25
            }"
          >
            <mdb-table-pagination
              #pagination
              [entries]="25"
              [entriesOptions]="[
                10,
                25,
                facilitiesServ.facilities$.getValue().length
              ]"
            ></mdb-table-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<mdb-loading [show]="isLoading" [fullscreen]="true">
  <div class="loading-spinner">
    <div class="spinner-border loading-icon" role="status"></div>
    <span class="loading-text">Loading...</span>
  </div>
</mdb-loading>
