<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">New Viral Load Entry</h5>
  <button type="button" class="btn-close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
  <div [formGroup]="newVLFormGroup" class="row g-3 align-items-center">
    <div class="col-12 col-lg-4">
      <div class="form-check">
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          id="undetectableViralLoad"
          formControlName="undetectableViralLoad"
        />
        <label class="form-check-label" for="undetectableViralLoad">
          Below Detection Level
        </label>
      </div>
    </div>
    <div
      class="col-12 col-lg-4"
      [ngClass]="{
        'visually-hidden': newVLFormGroup.get('undetectableViralLoad')?.value
      }"
    >
      <mdb-form-control>
        <input
          mdbInput
          type="number"
          id="value"
          class="form-control"
          formControlName="value"
          #viralLoadValue
          min="0"
          (keypress)="$event.code.includes('Digit')"
        />
        <label mdbLabel class="form-label" for="value">Viral Load Value</label>
      </mdb-form-control>

      <div class="form-text" *ngIf="newVLFormGroup.get('value')?.value">
        {{ (newVLFormGroup.get("value")?.value || 0) < 1000 ? "Low" : "High" }}
        Viral Load
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <mdb-form-control tabindex="1">
        <input
          mdbInput
          [mdbDatepicker]="dateSampleCollectedDatePicker"
          type="text"
          class="form-control"
          id="dateSampleCollectedInput"
          formControlName="dateSampleCollected"
          (click)="dateSampleCollectedDatePicker.open()"
        />
        <label mdbLabel for="dateSampleCollectedInput" class="form-label"
          >Date Sample Collected</label
        >

        <mdb-datepicker
          #dateSampleCollectedDatePicker
          format="dd, mmm, yyyy"
          [maxDate]="maxDate"
        ></mdb-datepicker>
      </mdb-form-control>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="modalRef.close()">
    Discard
  </button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="newVLFormGroup.invalid"
    (click)="addVL()"
  >
    Add
  </button>
</div>
