<div id="wrapper" class="d-flex">
  <div class="d-flex flex-column position-relative flex-fill" #container>
    <mdb-loading [show]="isLoading" [container]="container">
      <div class="loading-spinner">
        <div class="spinner-border loading-icon" role="status"></div>
        <span class="loading-text">Saving entry . . .</span>
      </div>
    </mdb-loading>
    <div class="py-1 bg-primary text-light small px-4 shadow-5">
      <div class="container-lg">
        <div class="d-flex align-items-center justify-content-between">
          <div
            *ngIf="uniqueARTNumberFormControl.valid"
            class="d-flex align-items-center"
          >
            <span class="fw-bold me-2"> Unique ART Number: </span
            ><span class="badge badge-info">
              {{ (activeFacility$ | async)?.state }}/{{
                (activeFacility$ | async)?.code
              }}/{{ uniqueARTNumber.value }}
            </span>
          </div>
          <div class="d-flex align-items-center">
            <span class="fw-bold me-2"> Facility: </span>
            <span class="me-2">
              {{ (activeFacility$ | async)?.site }}
            </span>
            <span class="badge badge-primary">{{
              (activeFacility$ | async)?.state
            }}</span>
          </div>
          <div class="d-flex align-items-center">
            <ng-container *ngIf="error$ | async">
              <span class="badge bg-danger">
                {{ error$ | async | uppercase }}
              </span>
            </ng-container>

            <ng-container *ngIf="!(error$ | async)">
              <!-- PENDING STATUS -->
              <span
                class="badge badge-warning me-2"
                *ngIf="pendingStatusCheckboxFormControl.value"
                >PENDING VL</span
              >
              <!-- ELIGIBILITY STATUS -->
              <span
                class="badge text-uppercase me-2"
                [ngClass]="{
                  'badge-success': eligibilityStatus?.eligible,
                  'badge-warning':
                    eligibilityStatus &&
                    !eligibilityStatus?.eligible &&
                    eligibilityStatus?.note == 'incomplete-eac',
                  'badge-danger':
                    eligibilityStatus && !eligibilityStatus?.eligible,
                  'badge-dark': !eligibilityStatus
                }"
                *ngIf="eligibilityStatus"
              >
                {{
                  eligibilityStatus
                    ? eligibilityStatus?.eligible
                      ? "eligible"
                      : "ineligible"
                    : "pending"
                }}
              </span>
              <span
                *ngIf="eligibilityStatus?.note"
                class="badge bg-danger me-2"
              >
                EAC-3 NOT COMPLETED
              </span>
              <!-- IIT STATUS -->
              <span
                class="badge text-uppercase"
                [ngClass]="{
                  'badge-success': iit == 'active',
                  'badge-primary': iit == 'iit <= 1',
                  'badge-warning': iit == 'iit <= 3',
                  'badge-danger': iit == 'iit > 3',
                  'badge-dark': iit == 'pending' || !iit
                }"
                *ngIf="iit"
              >
                {{ (iit || "pending").replace("<=", "≤").replace("> 3", "3⁺") }}
              </span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- FORM -->
    <div id="main-container" class="p-4 flex-fill">
      <form class="container-lg" [formGroup]="entryFormGroup">
        <div class="row g-3 mb-3">
          <!-- ART Information -->
          <div class="col-12">
            <div class="row g-3">
              <div
                class="col"
                [ngClass]="{
                  'col-8':
                    clinicVisitFormGroup.value?.clinicVisitComment &&
                    clinicVisitFormGroup.value?.clinicVisitComment != 'Nil'
                }"
              >
                <div class="form-group card shadow-2 d-flex flex-column">
                  <div class="card-header">
                    <div class="d-flex justify-content-between">
                      <h6 class="text-primary mb-0">ART INFORMATION</h6>
                      <h6 class="text-primary mb-0 text-uppercase">
                        {{ entryDate || today | date: "longDate" }}
                      </h6>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row g-3">
                      <!-- Unique ART Number -->
                      <div
                        class="col-12 col-md-4"
                        [ngClass]="{
                          'col-md-6':
                            clinicVisitFormGroup.value?.clinicVisitComment &&
                            clinicVisitFormGroup.value?.clinicVisitComment !=
                              'Nil'
                        }"
                      >
                        <!-- <small class="mb-1">Unique ART Number</small> -->
                        <div class="input-group">
                          <!-- <span
                            class="
                              input-group-text
                              fw-bold
                              bg-primary
                              text-light
                            "
                            >{{ (activeFacility$ | async)?.state }}/{{
                              (activeFacility$ | async)?.code
                            }}/</span
                          > -->

                          <!-- <div mdbDropdown class="dropdown">
                            <button
                              class="btn btn-primary"
                              type="button"
                              id="dropdownMenuButton"
                              aria-expanded="false"
                              mdbDropdownToggle
                            >
                              {{ (activeFacility$ | async)?.state }}/{{
                                (activeFacility$ | async)?.code
                              }}/
                            </button>
                            <ul
                              mdbDropdownMenu
                              class="dropdown-menu"
                              aria-labelledby="dropdownMenuButton"
                            >
                              <li>
                                <a class="dropdown-item" href="#">Action</a>
                              </li>
                              <li>
                                <a class="dropdown-item" href="#"
                                  >Another action</a
                                >
                              </li>
                              <li>
                                <a class="dropdown-item" href="#"
                                  >Something else here</a
                                >
                              </li>
                            </ul>
                          </div> -->

                          <mdb-form-control>
                            <mdb-select
                              id="facility"
                              [filter]="true"
                              [formControl]="facilityFormControl"
                              class="advancedFilterSelect"
                            >
                              <mdb-option
                                class="advancedFilterOption"
                                *ngFor="
                                  let facility of facilitiesServ.facilities$
                                    | async
                                "
                                [value]="facility.uid"
                                label="{{ facility.state }}/{{
                                  facility.code
                                }}/"
                              >
                                <div
                                  class="
                                    d-flex
                                    align-items-center
                                    justify-content-between
                                    w-100
                                  "
                                >
                                  <span class="text-truncate me-3">{{
                                    facility.site
                                  }}</span>
                                  <span class="badge bg-primary">{{
                                    facility.state
                                  }}</span>
                                </div>
                              </mdb-option>
                            </mdb-select>

                            <label mdbLabel class="form-label" for="facility"
                              >Facility</label
                            >
                          </mdb-form-control>
                          <mdb-form-control>
                            <input
                              autocomplete="off"
                              #uniqueARTNumber
                              [mdbValidate]="true"
                              mdbInput
                              type="text"
                              id="uniqueARTNumberInput"
                              class="form-control text-uppercase"
                              [formControl]="uniqueARTNumberFormControl"
                              placeholder="00001"
                              autocomplete="off"
                              [mdbAutocomplete]="UANautocomplete"
                              (keypress)="
                                $event.code.includes('Digit') &&
                                  uniqueARTNumber.value.length < 5
                              "
                              (paste)="
                                ($event.clipboardData?.getData('Text')
                                  ?.length || 0) +
                                  uniqueARTNumber.value.length <=
                                  5
                              "
                            />

                            <label
                              mdbLabel
                              class="form-label"
                              for="uniqueARTNumberInput"
                              >UAN</label
                            >
                          </mdb-form-control>
                          <mdb-autocomplete #UANautocomplete="mdbAutocomplete">
                            <mdb-option
                              *ngFor="let entry of entriesAutocomplete$ | async"
                              [value]="entry.uniqueARTNumber.split('/')[2]"
                            >
                              {{ entry.uniqueARTNumber.split("/")[2] }}
                            </mdb-option>
                          </mdb-autocomplete>
                        </div>
                      </div>

                      <!-- ART Start Date -->
                      <div
                        class="col-12 col-md-4"
                        [ngClass]="{
                          'col-md-6':
                            clinicVisitFormGroup.value?.clinicVisitComment &&
                            clinicVisitFormGroup.value?.clinicVisitComment !=
                              'Nil'
                        }"
                      >
                        <mdb-form-control>
                          <input
                            autocomplete="off"
                            mdbInput
                            [mdbValidate]="true"
                            [mdbDatepicker]="ARTStartDatePicker"
                            type="text"
                            class="form-control"
                            id="ARTStartDateInput"
                            formControlName="ARTStartDate"
                            placeholder="dd, mmm, yyyy"
                            (click)="ARTStartDatePicker.open()"
                          />
                          <label
                            mdbLabel
                            for="ARTStartDateInput"
                            class="form-label"
                            >ART Start Date</label
                          >

                          <mdb-datepicker
                            #ARTStartDatePicker
                            [maxDate]="today"
                            format="dd, mmm, yyyy"
                            title="ART Start Date"
                            clearBtnLabel=""
                          ></mdb-datepicker>
                        </mdb-form-control>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Status Details -->

              <ng-container
                *ngIf="
                  clinicVisitFormGroup.value?.clinicVisitComment &&
                  clinicVisitFormGroup.value?.clinicVisitComment != 'Nil'
                "
              >
                <div class="col-4" *ngIf="clinicVisitFormGroup.value as curCV">
                  <div class="card h-100 text-light bg-primary">
                    <div
                      class="
                        card-body
                        d-flex
                        flex-column
                        justify-content-center
                      "
                    >
                      <div>
                        <div class="h2">{{ curCV.clinicVisitComment }}</div>
                        <div class="small justify-content-between d-flex">
                          <div class="text-truncate">{{ curCV.facility }}</div>
                          <div *ngIf="curCV.dateTransferred">
                            {{ curCV.dateTransferred | date: "longDate" }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- Biodata -->
          <div class="col-12 col-md-8">
            <div class="form-group card shadow-2 d-flex flex-column">
              <div class="card-header">
                <h6 class="text-primary mb-0">BIODATA</h6>
              </div>

              <div class="card-body">
                <div class="row g-3">
                  <div class="col-12 col-md-6">
                    <div class="row g-3">
                      <!-- Sex -->
                      <div class="col-6 col-md-12">
                        <mdb-form-control>
                          <mdb-select
                            formControlName="sex"
                            #sex
                            [mdbValidate]="true"
                          >
                            <mdb-option value="male">Male</mdb-option>
                            <mdb-option value="female">Female</mdb-option>
                          </mdb-select>
                          <label mdbLabel class="form-label">Sex</label>
                        </mdb-form-control>
                      </div>

                      <!-- Phone Number -->
                      <div class="col-6 col-md-12">
                        <div class="input-group me-3">
                          <div class="input-group-text">
                            <input
                              class="form-check-input mt-0"
                              type="checkbox"
                              [formControl]="phoneNumberCheckboxFormControl"
                              #phoneNumber
                            />
                          </div>
                          <mdb-form-control [ngStyle]="{ flex: 1 }">
                            <input
                              autocomplete="off"
                              mdbInput
                              type="text"
                              class="form-control"
                              id="phoneNumberInput"
                              [placeholder]="
                                phoneNumber.checked ? 'Phone Number' : 'Unknown'
                              "
                              formControlName="phoneNumber"
                              [disabled]="!phoneNumber.checked"
                            />
                            <label
                              mdbLabel
                              for="phoneNumberInput"
                              class="form-label"
                              >Phone Number</label
                            >
                          </mdb-form-control>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Age Field -->
                  <div class="col-12 col-md-6">
                    <div class="row align-items-center g-3">
                      <!-- Birthdate -->
                      <div class="col-6 col-md-12">
                        <div class="input-group">
                          <div class="input-group-text">
                            <input
                              class="form-check-input mt-0"
                              type="checkbox"
                              [formControl]="birthdateKnownCheckboxFormControl"
                            />
                          </div>
                          <mdb-form-control class="flex-fill">
                            <input
                              autocomplete="off"
                              mdbInput
                              [mdbDatepicker]="birthdateDatePicker"
                              type="text"
                              class="form-control form-control"
                              id="birthdateInput"
                              placeholder="dd, mmm, yyyy"
                              (click)="birthdateDatePicker.open()"
                              [disabled]="
                                !birthdateKnownCheckboxFormControl.value
                              "
                              formControlName="birthdate"
                            />
                            <label
                              mdbLabel
                              for="birthdateInput"
                              class="form-label"
                              >Birthdate</label
                            >
                            <mdb-datepicker
                              #birthdateDatePicker
                              [maxDate]="today"
                              format="dd, mmm, yyyy"
                            ></mdb-datepicker>
                          </mdb-form-control>
                        </div>
                      </div>

                      <!-- Age -->
                      <div class="col-6 col-md-12">
                        <div class="input-group" formGroupName="age">
                          <mdb-form-control class="flex-fill">
                            <input
                              [mdbValidate]="true"
                              autocomplete="off"
                              mdbInput
                              type="number"
                              class="form-control"
                              placeholder="Age"
                              formControlName="age"
                              [readonly]="
                                !!birthdateKnownCheckboxFormControl.value
                              "
                              #age
                            />
                          </mdb-form-control>

                          <mdb-form-control>
                            <mdb-select
                              formControlName="unit"
                              #ageUnit
                              [mdbValidate]="true"
                              placeholder="Unit"
                            >
                              <mdb-option
                                *ngFor="let unit of ageUnits"
                                [value]="unit"
                                [label]="
                                  (unit | titlecase) +
                                  (ageFormControl.value > 1 ? 's' : '')
                                "
                                >{{ unit | titlecase
                                }}{{
                                  ageFormControl.value > 1 ? "s" : ""
                                }}</mdb-option
                              >
                            </mdb-select>
                          </mdb-form-control>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Regimen -->
          <div class="col-12 col-md-4">
            <div class="form-group card shadow-2 d-flex flex-column">
              <!-- Regimen -->

              <div class="card-header">
                <h6 class="text-primary mb-0">REGIMEN</h6>
              </div>

              <div class="card-body">
                <div class="row g-3">
                  <div class="col-12 col-xl-12">
                    <mdb-form-control>
                      <mdb-select
                        [filter]="true"
                        formControlName="regimen"
                        [mdbValidate]="true"
                      >
                        <mdb-option-group
                          *ngFor="let regimenGroup of regimensByGroup"
                          [label]="regimenGroup.name"
                        >
                          <mdb-option
                            *ngFor="let regimen of regimenGroup.regimens"
                            [value]="regimen.code"
                            label="{{ regimen.regimen }} ({{
                              regimenGroup.name
                            }})"
                          >
                            <div
                              class="
                                d-flex
                                align-items-center
                                justify-content-between
                                w-100
                                m-auto
                              "
                            >
                              <span class="text-truncate">{{
                                regimen.regimen
                              }}</span>
                              <span class="badge bg-primary me-3">{{
                                regimen.code
                              }}</span>
                            </div>
                          </mdb-option>
                        </mdb-option-group>
                      </mdb-select>
                      <label mdbLabel class="form-label">Regimen</label>
                    </mdb-form-control>
                  </div>

                  <!-- Regimen Start / Transition Date -->
                  <div class="col-12 col-xl-12">
                    <mdb-form-control>
                      <input
                        autocomplete="off"
                        mdbInput
                        [mdbValidate]="true"
                        [mdbDatepicker]="regimenStartTransDatePicker"
                        type="text"
                        class="form-control"
                        id="regimenStartTransDateInput"
                        formControlName="regimenStartTransDate"
                        placeholder="dd, mmm, yyyy"
                        (click)="regimenStartTransDatePicker.open()"
                      />
                      <label
                        mdbLabel
                        for="regimenStartTransDateInput"
                        class="form-label"
                        >Start / Transition Date</label
                      >
                      <mdb-datepicker
                        #regimenStartTransDatePicker
                        [maxDate]="today"
                        format="dd, mmm, yyyy"
                      ></mdb-datepicker>
                    </mdb-form-control>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- PTMCT -->
          <div class="col-12 col-lg-4 col-xl-4">
            <!-- PTMCT header -->

            <div class="form-group card shadow-2 d-flex flex-column">
              <div class="card-header">
                <h6 class="text-primary mb-0">Pregnant/ Breastfeeding</h6>
              </div>

              <div class="card-body">
                <div class="row g-3">
                  <!-- PMTCT -->
                  <div class="col-12 col-md-4 col-lg-12">
                    <mdb-form-control>
                      <mdb-select
                        #pmtct
                        formControlName="pmtct"
                        [mdbValidate]="true"
                        class="text-truncate"
                      >
                        <mdb-option value="yes">Yes</mdb-option>
                        <mdb-option value="no">No</mdb-option>
                      </mdb-select>
                      <label mdbLabel class="form-label"
                        >Pregnant/Breastfeeding</label
                      >
                    </mdb-form-control>
                  </div>

                  <!-- PMTCT Enrollment Start Date -->
                  <div class="col-12 col-md-4 col-lg-12">
                    <mdb-form-control>
                      <input
                        autocomplete="off"
                        mdbInput
                        [mdbValidate]="true"
                        [mdbDatepicker]="pmtctEnrollStartDatePicker"
                        type="text"
                        class="form-control"
                        id="pmtctEnrollStartDateInput"
                        formControlName="pmtctEnrollStartDate"
                        placeholder="dd, mmm, yyyy"
                        (click)="pmtctEnrollStartDatePicker.open()"
                        [disabled]="pmtct.value == 'no'"
                      />
                      <label
                        mdbLabel
                        for="pmtctEnrollStartDateInput"
                        class="form-label"
                        >Enrollment Start Date</label
                      >
                      <mdb-datepicker
                        #pmtctEnrollStartDatePicker
                        [maxDate]="today"
                        format="dd, mmm, yyyy"
                      ></mdb-datepicker>
                    </mdb-form-control>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- HVL -->
          <div class="col-12 col-lg-8">
            <!-- HVL header -->

            <div class="form-group card shadow-2 d-flex flex-column">
              <!-- HVL -->
              <div class="card-header">
                <h6 class="text-primary mb-0">Unsuppressed Viral Load</h6>
              </div>
              <div class="card-body">
                <div class="row g-3">
                  <div class="col-12 col-md-4 col-lg-6">
                    <mdb-form-control>
                      <mdb-select
                        #hvl
                        formControlName="hvl"
                        [mdbValidate]="true"
                      >
                        <mdb-option value="yes">Yes</mdb-option>
                        <mdb-option value="no">No</mdb-option>
                      </mdb-select>
                      <label mdbLabel class="form-label">High Viral Load</label>
                    </mdb-form-control>
                  </div>

                  <div class="col-12 col-md-8 col-lg-6">
                    <div class="row g-3">
                      <!-- EAC-3 Completed -->
                      <div class="col-12 col-md-6 col-lg-12">
                        <mdb-form-control>
                          <mdb-select
                            #eac3Completed
                            formControlName="eac3Completed"
                            [mdbValidate]="true"
                          >
                            <mdb-option value="yes">Yes</mdb-option>
                            <mdb-option value="no">No</mdb-option>
                          </mdb-select>
                          <label mdbLabel class="form-label"
                            >EAC-3 Completed</label
                          >
                        </mdb-form-control>
                      </div>

                      <!-- EAC-3 Completion Date -->
                      <div class="col-12 col-md-6 col-lg-12">
                        <mdb-form-control>
                          <input
                            autocomplete="off"
                            mdbInput
                            [mdbValidate]="true"
                            [mdbDatepicker]="eac3CompletionDatePicker"
                            type="text"
                            class="form-control"
                            id="eac3CompletionDateInput"
                            formControlName="eac3CompletionDate"
                            placeholder="dd, mmm, yyyy"
                            (click)="eac3CompletionDatePicker.open()"
                            [disabled]="
                              !eac3Completed.value ||
                              eac3Completed.value == 'no'
                            "
                          />
                          <label
                            mdbLabel
                            for="eac3CompletionDateInput"
                            class="form-label"
                            >EAC-3 Completion Date</label
                          >
                          <mdb-datepicker
                            #eac3CompletionDatePicker
                            [maxDate]="today"
                            format="dd, mmm, yyyy"
                          ></mdb-datepicker>
                        </mdb-form-control>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Clinic Visit -->
          <div class="col-12 col-lg-4">
            <div
              class="form-group card shadow-2 d-flex flex-column"
              [formGroup]="clinicVisitFormGroup"
            >
              <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <h6 class="text-primary mb-0">CLINIC VISIT</h6>
                  </div>
                  <div class="d-flex">
                    <a
                      class="btn btn-primary btn-sm btn-floating me-3"
                      role="button"
                      (click)="clinicVisitFormGroup.reset(cvh[cvh.length - 1])"
                      ><i class="fas fa-redo"></i
                    ></a>
                    <a
                      class="btn btn-primary btn-sm btn-floating"
                      role="button"
                      (click)="viewCVH()"
                      ><i class="fas fa-eye"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row g-3">
                  <!-- Last Clinic Visit Date -->
                  <div
                    class="col-12 col-lg-12"
                    [ngClass]="{
                      'col-md-4':
                        !clinicVisitComment.value?.includes('Transfer'),
                      'col-md-6': clinicVisitComment.value?.includes('Transfer')
                    }"
                  >
                    <mdb-form-control>
                      <input
                        autocomplete="off"
                        formControlName="lastClinicVisitDate"
                        mdbInput
                        [mdbValidate]="true"
                        [mdbDatepicker]="lastClinicVisitDatePicker"
                        type="text"
                        class="form-control"
                        id="lastClinicVisicDateInput"
                        placeholder="dd, mmm, yyyy"
                        (click)="lastClinicVisitDatePicker.open()"
                      />
                      <label
                        mdbLabel
                        for="lastClinicVisicDateInput"
                        class="form-label"
                        >Last Clinic Visit Date</label
                      >
                      <mdb-datepicker
                        #lastClinicVisitDatePicker
                        [maxDate]="today"
                        format="dd, mmm, yyyy"
                      ></mdb-datepicker>
                    </mdb-form-control>
                  </div>
                  <!-- Next Appointment Date -->
                  <div
                    class="col-12 col-lg-12"
                    [ngClass]="{
                      'col-md-4':
                        !clinicVisitComment.value?.includes('Transfer'),

                      'col-md-6': clinicVisitComment.value?.includes('Transfer')
                    }"
                  >
                    <mdb-form-control>
                      <input
                        autocomplete="off"
                        formControlName="nextAppointmentDate"
                        mdbInput
                        [mdbValidate]="true"
                        [mdbDatepicker]="nextAppointmentDatePicker"
                        type="text"
                        class="form-control"
                        id="nextAppointmentDateInput"
                        placeholder="dd, mmm, yyyy"
                        (click)="nextAppointmentDatePicker.open()"
                      />
                      <label
                        mdbLabel
                        for="nextAppointmentDateInput"
                        class="form-label"
                        >Next Appointment Date</label
                      >
                      <mdb-datepicker
                        #nextAppointmentDatePicker
                        format="dd, mmm, yyyy"
                      ></mdb-datepicker>
                    </mdb-form-control>
                  </div>
                  <!-- Comment -->
                  <div class="col-12 col-md-4 col-lg-12">
                    <mdb-form-control>
                      <mdb-select
                        formControlName="clinicVisitComment"
                        [mdbValidate]="true"
                        #clinicVisitComment
                      >
                        <mdb-option
                          *ngFor="let clinicComment of clinicComments"
                          [value]="clinicComment"
                          >{{ clinicComment }}</mdb-option
                        >
                      </mdb-select>
                      <label mdbLabel class="form-label">Comment</label>
                    </mdb-form-control>
                  </div>
                  <ng-container
                    *ngIf="clinicVisitComment.value?.includes('Transfer')"
                  >
                    <!-- Facility Affiliated -->
                    <div class="col-12 col-md-4 col-lg-12">
                      <mdb-form-control>
                        <mdb-select
                          formControlName="facility"
                          [mdbValidate]="true"
                          [filter]="true"
                        >
                          <mdb-option
                            *ngFor="
                              let facility of facilitiesServ.facilities$ | async
                            "
                            [value]="facility.site"
                            [label]="facility.site"
                          >
                            <div class="d-flex align-items-center w-100 m-auto">
                              <span class="badge bg-primary me-3">{{
                                facility.state
                              }}</span>
                              <span>{{ facility.site }}</span>
                              <div class="flex-fill"></div></div
                          ></mdb-option>
                        </mdb-select>
                        <label mdbLabel class="form-label">Facility</label>
                      </mdb-form-control>
                    </div>

                    <!-- Date Transferred -->
                    <div class="col-12 col-md-4 col-lg-12">
                      <mdb-form-control>
                        <input
                          autocomplete="off"
                          formControlName="dateTransferred"
                          mdbInput
                          [mdbValidate]="true"
                          [mdbDatepicker]="dateTransferredDatepicker"
                          type="text"
                          class="form-control"
                          id="dateTransferredInput"
                          placeholder="dd, mmm, yyyy"
                          (click)="dateTransferredDatepicker.open()"
                        />
                        <label
                          mdbLabel
                          for="dateTransferredInput"
                          class="form-label"
                          >Date Transferred</label
                        >
                        <mdb-datepicker
                          #dateTransferredDatepicker
                          format="dd, mmm, yyyy"
                        ></mdb-datepicker>
                      </mdb-form-control>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <!-- Viral Load History -->
          <div class="col-12 col-lg-8">
            <div class="card">
              <div class="card-header">
                <div class="d-flex align-items-center">
                  <h6 class="text-primary mb-0">VIRAL LOAD HISTORY</h6>
                  <div class="flex-fill"></div>

                  <div class="form-check me-3">
                    <input
                      autocomplete="off"
                      mdbCheckbox
                      class="form-check-input"
                      type="checkbox"
                      id="noViralLoadHasBeenDone"
                      [formControl]="noViralLoadHasBeenDoneFormControl"
                      #noViralLoadHasBeenDone
                    />
                    <label
                      class="form-check-label"
                      for="noViralLoadHasBeenDone"
                    >
                      Nil
                    </label>
                  </div>
                  <button
                    class="btn btn-sm btn-primary"
                    [disabled]="!!noViralLoadHasBeenDoneFormControl.value"
                    (click)="openNewVLModal()"
                  >
                    Add New
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row g-3">
                  <div class="col-12">
                    <div class="row align-items-center g-3">
                      <div class="col-12 col-md-5">
                        <div class="d-flex flex-column justify-content-center">
                          <small text-truncate class="mb-1"
                            >Pending Status</small
                          >

                          <div class="input-group input-group-sm">
                            <div class="input-group-text">
                              <input
                                class="form-check-input mt-0"
                                type="checkbox"
                                id="pendingStatus"
                                [formControl]="pendingStatusCheckboxFormControl"
                                #pendingStatus
                              />
                            </div>
                            <mdb-form-control [ngStyle]="{ flex: 1 }">
                              <input
                                autocomplete="off"
                                mdbInput
                                [mdbDatepicker]="pendingSampleDatepicker"
                                type="text"
                                class="form-control form-control-sm"
                                id="pendingSampleDateInput"
                                placeholder="dd, mmm, yyyy"
                                (click)="pendingSampleDatepicker.open()"
                                formControlName="pendingStatusDate"
                                [disabled]="!pendingStatus.checked"
                              />
                              <label
                                mdbLabel
                                for="pendingSampleDateInput"
                                class="form-label"
                                >Date Sample Collected</label
                              >
                              <mdb-datepicker
                                #pendingSampleDatepicker
                                [maxDate]="today"
                                format="dd, mmm, yyyy"
                              ></mdb-datepicker>
                            </mdb-form-control>
                          </div>
                        </div>
                      </div>

                      <div class="col col-md-7">
                        <div
                          class="
                            d-flex
                            flex-column
                            align-items-end
                            justify-content-between
                          "
                          *ngIf="
                            nextViralLoadSampleCollectionDate ||
                            diffDate(nextViralLoadSampleCollectionDate, today) >
                              0
                          "
                        >
                          <small text-truncate class="mb-1"
                            >Next Viral Load Sample Collection Date</small
                          >
                          <h5 class="mb-0">
                            <div
                              class="badge"
                              [ngClass]="{
                                'badge-primary':
                                  diffDate(
                                    nextViralLoadSampleCollectionDate,
                                    today
                                  ) >= 0,
                                'badge-danger':
                                  diffDate(
                                    nextViralLoadSampleCollectionDate,
                                    today
                                  ) < 0
                              }"
                            >
                              {{
                                nextViralLoadSampleCollectionDate
                                  | date: "longDate"
                              }}
                              |
                              <ng-container
                                *ngIf="
                                  diffDate(
                                    nextViralLoadSampleCollectionDate,
                                    today
                                  ) == 0;
                                  else notToday
                                "
                              >
                                "TODAY"
                              </ng-container>

                              <ng-template #notToday>
                                {{
                                  diffDate(
                                    nextViralLoadSampleCollectionDate,
                                    today
                                  )
                                    | abs
                                    | number: "1.0-0"
                                }}
                                DAYS
                                {{
                                  diffDate(
                                    nextViralLoadSampleCollectionDate,
                                    today
                                  ) > 0
                                    ? "LEFT"
                                    : "PASSED"
                                }}
                              </ng-template>
                            </div>
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12" *ngIf="(vlh$ | async)?.length">
                    <div class="datatable">
                      <div
                        class="datatable-inner position-relative"
                        mdbScrollbar
                      >
                        <table
                          class="
                            table table-sm
                            datatable-table
                            align-middle
                            table-striped
                          "
                        >
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Category</th>
                              <th scope="col">Value</th>
                              <th scope="col">Date Sample Collected</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let vl of vlh$ | async; index as i">
                              <th>{{ !i ? "Most Current VL" : i + 1 }}</th>
                              <td>
                                <span
                                  class="badge"
                                  [ngClass]="{
                                    'bg-danger': (vl?.value || 0) >= 1000,
                                    'bg-primary': !vl.value || vl.value < 1000
                                  }"
                                >
                                  {{
                                    (vl?.value || 0) >= 1000 ? "High" : "Low"
                                  }}
                                  Viral Load</span
                                >
                              </td>
                              <td>
                                {{ vl.value || "Below Detection Level" }}
                              </td>
                              <td>
                                {{ vl.dateSampleCollected | date: "longDate" }}
                              </td>

                              <td>
                                <div>
                                  <button
                                    mdbRipple
                                    type="button"
                                    class="
                                      btn btn-sm btn-primary btn-floating
                                      me-3
                                    "
                                    (click)="openEditVLModal(i)"
                                  >
                                    <i class="fas fa-edit"></i>
                                  </button>
                                  <button
                                    mdbRipple
                                    rippleColor="danger"
                                    type="button"
                                    class="btn btn-sm btn-danger btn-floating"
                                    (click)="removeVL(i)"
                                  >
                                    <i class="fas fa-trash"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div
                      class="note note-warning"
                      *ngIf="!(vlh$ | async)?.length"
                    >
                      Nothing to show.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row g-3">
          <div class="col-12">
            <div class="row g-3">
              <div class="col-12 col-md-10">
                <div
                  class="card text-light shadow-3"
                  [ngClass]="{
                    'bg-primary': !(error$ | async),
                    'bg-danger': (error$ | async)
                  }"
                >
                  <div class="card-body">
                    <div
                      class="row align-items-center justify-content-between g-3"
                      *ngIf="!(error$ | async); else formInvalid"
                    >
                      <div class="col-12 col-lg-6 d-flex align-items-center">
                        <h6 class="me-3 mb-0">Viral Load Eligibility Status</h6>
                        <h3 class="mb-0">
                          <span
                            class="
                              badge
                              text-uppercase
                              mb-0
                              d-flex
                              align-items-center
                            "
                            [ngClass]="{
                              'badge-success': eligibilityStatus?.eligible,
                              'badge-warning':
                                eligibilityStatus &&
                                !eligibilityStatus?.eligible &&
                                eligibilityStatus?.note == 'incomplete-eac',
                              'badge-danger':
                                eligibilityStatus &&
                                !eligibilityStatus?.eligible,
                              'badge-dark': !eligibilityStatus
                            }"
                          >
                            {{
                              eligibilityStatus
                                ? eligibilityStatus?.eligible
                                  ? "eligible"
                                  : "ineligible"
                                : "pending"
                            }}
                            <span
                              *ngIf="eligibilityStatus?.note"
                              class="badge bg-danger ms-3"
                            >
                              EAC-3 NOT COMPLETED
                            </span>
                          </span>
                        </h3>
                      </div>
                      <div class="col-12 col-lg-6 d-flex align-items-center">
                        <h6 class="me-3 mb-0">Clinic Status (IIT)</h6>
                        <h3 class="mb-0">
                          <span
                            class="badge text-uppercase"
                            [ngClass]="{
                              'badge-success': iit == 'active',
                              'badge-primary': iit == 'iit <= 1',
                              'badge-warning': iit == 'iit <= 3',
                              'badge-danger': iit == 'iit > 3',
                              'badge-dark': iit == 'pending' || !iit
                            }"
                          >
                            {{
                              (iit || "pending")
                                .replace("<=", "≤")
                                .replace("> 3", "3⁺")
                            }}
                          </span>
                        </h3>
                      </div>
                    </div>

                    <ng-template #formInvalid>
                      {{ error$ | async }}
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-2 d-flex align-items-center">
                <button
                  class="btn btn-lg btn-success ms-auto w-100 h-100"
                  (click)="saveEntryForm()"
                  [disabled]="error$ | async"
                  mdbRipple
                >
                  <h5 class="mb-0">Save</h5>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <span
      id="mini-dashboard-toggler"
      class="mb-1 bg-primary shadow-5 position-absolute top-50 end-0"
      mdbRipple
      (click)="miniDashboardShown = !miniDashboardShown"
    >
      <a>
        <i
          class="fas fa-angle-double-left m-2 text-light"
          [ngStyle]="{
            transform: miniDashboardShown ? 'rotate(180deg)' : 'none'
          }"
        ></i
      ></a>
    </span>
  </div>
  <div
    id="mini-dashboard"
    class="bg-light p-3 shadow-5"
    *ngIf="miniDashboardShown"
  >
    <entry-form-mini-dashboard></entry-form-mini-dashboard>
  </div>
</div>
