<div id="wrapper" class="d-flex">
  <div class="d-flex flex-column position-relative flex-fill">
    <div
      class="py-1 bg-primary text-light small px-4 shadow-5"
      *ngIf="uniqueARTNumberFormControl.valid"
    >
      <div class="container-lg">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <span class="fw-bold me-2"> Unique ART Number: </span
            >{{ uniqueARTNumberFormControl.value | uppercase }}
          </div>
          <div class="d-flex align-items-center">
            <!-- ELIGIBILITY STATUS -->
            <span
              class="badge text-uppercase me-2"
              [ngClass]="{
                'badge-success': eligibilityStatus?.eligible,
                'badge-warning':
                  eligibilityStatus &&
                  !eligibilityStatus?.eligible &&
                  eligibilityStatus?.note == 'incomplete-eac',
                'badge-danger':
                  eligibilityStatus && !eligibilityStatus?.eligible,
                'badge-dark': !eligibilityStatus
              }"
            >
              {{
                eligibilityStatus
                  ? eligibilityStatus?.eligible
                    ? "eligible"
                    : "ineligible"
                  : "pending"
              }}
            </span>
            <span *ngIf="eligibilityStatus?.note" class="badge bg-danger me-2">
              EAC-3 NOT COMPLETED
            </span>
            <!-- IIT STATUS -->
            <span
              class="badge text-uppercase"
              [ngClass]="{
                'badge-success': iit == 'active',
                'badge-primary': iit == 'iit <= 1',
                'badge-warning': iit == 'iit <= 3',
                'badge-danger': iit == 'iit > 3',
                'badge-dark': iit == 'pending' || !iit
              }"
            >
              {{ (iit || "pending").replace("<=", "≤").replace("> 3", "3⁺") }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div id="main-container" class="p-4 flex-fill">
      <form class="container-lg" [formGroup]="entryFormGroup">
        <div class="row mb-3">
          <div class="col">
            <div class="card bg-light h-100">
              <div class="d-flex align-content-center h-100 p-3">
                <div class="d-flex flex-column justify-content-center">
                  <h5>
                    {{
                      (
                        facilitiesServ.getFacilityByCode(
                          (authServ.userData$ | async)?.facility
                        ) | async
                      )?.site
                    }}
                  </h5>
                  <p class="mb-0 small text-muted">FACILITY</p>
                </div>
                <div class="flex-fill"></div>
                <div class="d-flex flex-column text-end justify-content-center">
                  <h5>{{ entryDate || time | date: "longDate" }}</h5>
                  <p class="mb-0 small text-muted">ENTRY DATE</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-4"
            *ngIf="
              clinicVisitFormGroup
                .get('clinicVisitComment')
                ?.value?.includes('Transfer')
            "
          >
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column">
                  <h6>
                    {{ clinicVisitFormGroup.get("clinicVisitComment")?.value }}
                    {{ clinicVisitFormGroup.get("facility")?.value }}
                  </h6>
                  <p class="mb-0 small text-muted">
                    {{
                      clinicVisitFormGroup.get("dateTransferred")?.value
                        | date: "longDate"
                    }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row g-3 mb-3">
          <!-- ART Information -->
          <div class="col-12">
            <div class="form-group card shadow-2 d-flex flex-column">
              <div class="card-header">
                <h6 class="text-primary mb-0">ART INFORMATION</h6>
              </div>
              <div class="card-body">
                <div class="row g-3">
                  <!-- Unique ART Number -->
                  <div class="col-12 col-md-4">
                    <mdb-form-control>
                      <input
                        autocomplete="off"
                        #uniqueARTNumber
                        [mdbValidate]="true"
                        mdbInput
                        type="text"
                        id="uniqueARTNumberInput"
                        class="form-control text-uppercase"
                        [formControl]="uniqueARTNumberFormControl"
                        placeholder="XXX/YYY/12345"
                        autocomplete="off"
                        [mdbAutocomplete]="UANautocomplete"
                        autocapitalize="characters"
                      />

                      <label
                        mdbLabel
                        class="form-label"
                        for="uniqueARTNumberInput"
                        >Unique ART Number</label
                      >
                    </mdb-form-control>
                    <mdb-autocomplete #UANautocomplete="mdbAutocomplete">
                      <mdb-option
                        *ngFor="let entry of entriesAutocomplete$ | async"
                        [value]="entry.data().uniqueARTNumber"
                      >
                        {{ entry.data().uniqueARTNumber | uppercase }}
                      </mdb-option>
                    </mdb-autocomplete>
                  </div>

                  <!-- ART Start Date -->
                  <div class="col-12 col-md-4">
                    <mdb-form-control>
                      <input
                        autocomplete="off"
                        mdbInput
                        [mdbValidate]="true"
                        [mdbDatepicker]="ARTStartDatePicker"
                        type="text"
                        class="form-control"
                        id="ARTStartDateInput"
                        formControlName="ARTStartDate"
                        placeholder="dd, mmm, yyyy"
                        (click)="ARTStartDatePicker.open()"
                      />
                      <label mdbLabel for="ARTStartDateInput" class="form-label"
                        >ART Start Date</label
                      >

                      <mdb-datepicker
                        #ARTStartDatePicker
                        [maxDate]="maxDate"
                        format="dd, mmm, yyyy"
                      ></mdb-datepicker>
                    </mdb-form-control>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Biodata -->
          <div class="col-12 col-md-8">
            <div class="form-group card shadow-2 d-flex flex-column">
              <div class="card-header">
                <h6 class="text-primary mb-0">BIODATA</h6>
              </div>

              <div class="card-body">
                <div class="row g-3">
                  <div class="col-12 col-md-6">
                    <div class="row g-3">
                      <!-- Sex -->
                      <div class="col-6 col-md-12">
                        <mdb-form-control>
                          <mdb-select
                            formControlName="sex"
                            #sex
                            [mdbValidate]="true"
                          >
                            <mdb-option value="male">Male</mdb-option>
                            <mdb-option value="female">Female</mdb-option>
                          </mdb-select>
                          <label mdbLabel class="form-label">Sex</label>
                        </mdb-form-control>
                      </div>
                      <!-- Phone Number -->
                      <!-- <div class="col-6 col-md-12">
                        <mdb-form-control>
                          <input
                            autocomplete="off"
                            mdbInput
                            [mdbValidate]="true"
                            type="number"
                            class="form-control"
                            formControlName="phoneNumber"
                            id="phoneNumberInput"
                            min="0"
                            (keypress)="$event.code.includes('Digit')"
                          />
                          <label
                            mdbLabel
                            for="phoneNumberInput"
                            class="form-label"
                            >Phone Number</label
                          >
                        </mdb-form-control>
                      </div> -->

                      <div class="col-6 col-md-12">
                        <div class="input-group me-3">
                          <div class="input-group-text">
                            <input
                              class="form-check-input mt-0"
                              type="checkbox"
                              id="pendingStatus"
                              [formControl]="phoneNumberFormControl"
                              #phoneNumber
                            />
                          </div>
                          <mdb-form-control [ngStyle]="{ flex: 1 }">
                            <input
                              autocomplete="off"
                              mdbInput
                              type="text"
                              class="form-control"
                              id="phoneNumberInput"
                              [placeholder]="
                                phoneNumber.checked ? 'Phone Number' : 'Unknown'
                              "
                              formControlName="phoneNumber"
                              [disabled]="!phoneNumber.checked"
                            />
                            <label
                              mdbLabel
                              for="phoneNumberInput"
                              class="form-label"
                              >Phone Number</label
                            >
                          </mdb-form-control>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Age Field -->
                  <div class="col-12 col-md-6">
                    <div class="row align-items-center g-3">
                      <!-- Birthdate -->
                      <div class="col-6 col-md-12">
                        <div
                          class="input-group"
                          [ngStyle]="{ 'flex-wrap': 'nowrap' }"
                        >
                          <div class="input-group-text">
                            <input
                              class="form-check-input mt-0"
                              type="checkbox"
                              id="birthdateKnownCheckbox"
                              [formControl]="birthdateKnownCheckboxFormControl"
                            />
                          </div>
                          <mdb-form-control class="flex-fill">
                            <input
                              [mdbValidate]="true"
                              autocomplete="off"
                              mdbInput
                              [mdbDatepicker]="birthdateDatePicker"
                              type="text"
                              class="form-control form-control"
                              id="birthdateInput"
                              placeholder="dd, mmm, yyyy"
                              (click)="birthdateDatePicker.open()"
                              [disabled]="
                                !birthdateKnownCheckboxFormControl.value
                              "
                              formControlName="birthdate"
                            />
                            <label
                              mdbLabel
                              for="birthdateInput"
                              class="form-label"
                              >Birthdate</label
                            >
                            <mdb-datepicker
                              #birthdateDatePicker
                              [maxDate]="maxDate"
                              format="dd, mmm, yyyy"
                            ></mdb-datepicker>
                          </mdb-form-control>
                        </div>
                      </div>

                      <!-- Age -->
                      <div class="col-6 col-md-12">
                        <div
                          class="input-group"
                          [ngStyle]="{ 'flex-wrap': 'nowrap' }"
                        >
                          <mdb-form-control class="flex-fill">
                            <input
                              [mdbValidate]="true"
                              autocomplete="off"
                              mdbInput
                              type="number"
                              class="form-control"
                              id="ageInput"
                              placeholder="Age"
                              [formControl]="ageFormControl"
                            />
                          </mdb-form-control>
                          <div mdbDropdown class="dropdown">
                            <button
                              mdbDropdownToggle
                              class="btn btn-primary dropdown-toggle"
                              type="button"
                              aria-expanded="false"
                              [ngStyle]="{
                                'border-top-left-radius': 0,
                                'border-bottom-left-radius': 0
                              }"
                              [disabled]="
                                birthdateKnownCheckboxFormControl.value
                              "
                            >
                              {{ selectedAgeUnit }}
                            </button>
                            <ul
                              mdbDropdownMenu
                              class="dropdown-menu"
                              [ngStyle]="{ cursor: 'pointer' }"
                            >
                              <ng-container *ngFor="let unit of ageUnits">
                                <li *ngIf="selectedAgeUnit != unit">
                                  <a
                                    class="dropdown-item"
                                    (click)="
                                      selectedAgeUnit = unit;
                                      updateAge();
                                      updateEligibilityStatus()
                                    "
                                  >
                                    {{ unit | titlecase }}</a
                                  >
                                </li>
                              </ng-container>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Regimen -->
          <div class="col-12 col-md-4">
            <div class="form-group card shadow-2 d-flex flex-column">
              <!-- Regimen -->

              <div class="card-header">
                <h6 class="text-primary mb-0">REGIMEN</h6>
              </div>

              <div class="card-body">
                <div class="row g-3">
                  <div class="col-12 col-xl-12">
                    <mdb-form-control>
                      <mdb-select
                        [filter]="true"
                        formControlName="regimen"
                        [mdbValidate]="true"
                      >
                        <mdb-option-group
                          *ngFor="let regimenGroup of regimensByGroup"
                          [label]="regimenGroup.name"
                        >
                          <mdb-option
                            *ngFor="let regimen of regimenGroup.regimens"
                            [value]="regimen.code"
                            label="{{ regimen.regimen }} ({{
                              regimenGroup.name
                            }})"
                          >
                            <div class="d-flex align-items-center w-100 m-auto">
                              <span class="badge bg-primary me-3">{{
                                regimen.code
                              }}</span>
                              <span>{{ regimen.regimen }}</span>
                              <div class="flex-fill"></div>
                            </div>
                          </mdb-option>
                        </mdb-option-group>
                      </mdb-select>
                      <label mdbLabel class="form-label">Regimen</label>
                    </mdb-form-control>
                  </div>

                  <!-- Regimen Start / Transition Date -->
                  <div class="col-12 col-xl-12">
                    <mdb-form-control>
                      <input
                        autocomplete="off"
                        mdbInput
                        [mdbValidate]="true"
                        [mdbDatepicker]="regimenStartTransDatePicker"
                        type="text"
                        class="form-control"
                        id="regimenStartTransDateInput"
                        formControlName="regimenStartTransDate"
                        placeholder="dd, mmm, yyyy"
                        (click)="regimenStartTransDatePicker.open()"
                      />
                      <label
                        mdbLabel
                        for="regimenStartTransDateInput"
                        class="form-label"
                        >Start / Transition Date</label
                      >
                      <mdb-datepicker
                        #regimenStartTransDatePicker
                        [maxDate]="maxDate"
                        format="dd, mmm, yyyy"
                      ></mdb-datepicker>
                    </mdb-form-control>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- PTMCT -->
          <div class="col-12 col-md-6 col-lg-4 col-xl-4">
            <!-- PTMCT header -->

            <div class="form-group card shadow-2 d-flex flex-column">
              <div class="card-header">
                <h6 class="text-primary mb-0">Pregnant/ Breastfeeding</h6>
              </div>

              <div class="card-body">
                <!-- PMTCT -->
                <div class="mb-3">
                  <mdb-form-control>
                    <mdb-select
                      #pmtct
                      formControlName="pmtct"
                      [mdbValidate]="true"
                    >
                      <mdb-option value="yes">Yes</mdb-option>
                      <mdb-option value="no">No</mdb-option>
                    </mdb-select>
                    <label mdbLabel class="form-label"
                      >Pregnant/Breastfeeding</label
                    >
                  </mdb-form-control>
                </div>

                <!-- PMTCT Enrollment Start Date -->
                <div>
                  <mdb-form-control>
                    <input
                      autocomplete="off"
                      mdbInput
                      [mdbValidate]="true"
                      [mdbDatepicker]="pmtctEnrollStartDatePicker"
                      type="text"
                      class="form-control"
                      id="pmtctEnrollStartDateInput"
                      formControlName="pmtctEnrollStartDate"
                      placeholder="dd, mmm, yyyy"
                      (click)="pmtctEnrollStartDatePicker.open()"
                      [disabled]="
                        !entryFormGroup.get('pmtctEnrollStartDate')?.enabled
                      "
                    />
                    <label
                      mdbLabel
                      for="pmtctEnrollStartDateInput"
                      class="form-label"
                      >Enrollment Start Date</label
                    >
                    <mdb-datepicker
                      #pmtctEnrollStartDatePicker
                      [maxDate]="maxDate"
                      format="dd, mmm, yyyy"
                    ></mdb-datepicker>
                  </mdb-form-control>
                </div>
              </div>
            </div>
          </div>
          <!-- HVL -->
          <div class="col-12 col-lg-8">
            <!-- HVL header -->

            <div class="form-group card shadow-2 d-flex flex-column">
              <!-- HVL -->
              <div class="card-header">
                <h6 class="text-primary mb-0">High Viral Load</h6>
              </div>
              <div class="card-body">
                <div class="row g-3">
                  <div class="col-12 col-md-6">
                    <mdb-form-control>
                      <mdb-select
                        #hvl
                        formControlName="hvl"
                        [mdbValidate]="true"
                      >
                        <mdb-option value="yes">Yes</mdb-option>
                        <mdb-option value="no">No</mdb-option>
                      </mdb-select>
                      <label mdbLabel class="form-label">High Viral Load</label>
                    </mdb-form-control>
                  </div>

                  <div class="col-12 col-md-6">
                    <!-- EAC-3 Completed -->
                    <div class="mb-3">
                      <mdb-form-control>
                        <mdb-select
                          #eac3Completed
                          formControlName="eac3Completed"
                          [mdbValidate]="true"
                        >
                          <mdb-option value="yes">Yes</mdb-option>
                          <mdb-option value="no">No</mdb-option>
                        </mdb-select>
                        <label mdbLabel class="form-label"
                          >EAC-3 Completed</label
                        >
                      </mdb-form-control>
                    </div>

                    <!-- EAC-3 Completion Date -->
                    <div>
                      <mdb-form-control>
                        <input
                          autocomplete="off"
                          mdbInput
                          [mdbValidate]="true"
                          [mdbDatepicker]="eac3CompletionDatePicker"
                          type="text"
                          class="form-control"
                          id="eac3CompletionDateInput"
                          formControlName="eac3CompletionDate"
                          placeholder="dd, mmm, yyyy"
                          (click)="eac3CompletionDatePicker.open()"
                          [disabled]="
                            !entryFormGroup.get('eac3CompletionDate')
                              ?.enabled ||
                            !entryFormGroup.get('eac3Completed')?.enabled
                          "
                        />
                        <label
                          mdbLabel
                          for="eac3CompletionDateInput"
                          class="form-label"
                          >EAC-3 Completion Date</label
                        >
                        <mdb-datepicker
                          #eac3CompletionDatePicker
                          [maxDate]="maxDate"
                          format="dd, mmm, yyyy"
                        ></mdb-datepicker>
                      </mdb-form-control>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Clinic Visit -->
          <div class="col-12 col-lg-4">
            <div
              class="form-group card shadow-2 d-flex flex-column"
              [formGroup]="clinicVisitFormGroup"
            >
              <div class="card-header">
                <div class="d-flex align-items-center">
                  <h6 class="text-primary mb-0">CLINIC VISIT</h6>
                  <div class="flex-fill"></div>

                  <a
                    class="btn btn-primary btn-sm btn-floating"
                    role="button"
                    [ngClass]="{
                      disabled:
                        uniqueARTNumberFormControl.invalid &&
                        uniqueARTNumberFormControl.dirty
                    }"
                    (click)="viewCVH()"
                    ><i class="fas fa-eye"></i
                  ></a>
                </div>
              </div>
              <div class="card-body">
                <div class="row g-3">
                  <!-- Last Clinic Visit Date -->
                  <div
                    class="col-12 col-lg-12"
                    [ngClass]="{
                      'col-md-4':
                        !clinicVisitComment.value?.includes('Transfer'),
                      'col-md-6': clinicVisitComment.value?.includes('Transfer')
                    }"
                  >
                    <mdb-form-control>
                      <input
                        autocomplete="off"
                        formControlName="lastClinicVisitDate"
                        mdbInput
                        [mdbValidate]="true"
                        [mdbDatepicker]="lastClinicVisitDatePicker"
                        type="text"
                        class="form-control"
                        id="lastClinicVisicDateInput"
                        placeholder="dd, mmm, yyyy"
                        (click)="lastClinicVisitDatePicker.open()"
                      />
                      <label
                        mdbLabel
                        for="lastClinicVisicDateInput"
                        class="form-label"
                        >Last Clinic Visit Date</label
                      >
                      <mdb-datepicker
                        #lastClinicVisitDatePicker
                        [maxDate]="maxDate"
                        format="dd, mmm, yyyy"
                      ></mdb-datepicker>
                    </mdb-form-control>
                  </div>
                  <!-- Next Appointment Date -->
                  <div
                    class="col-12 col-lg-12"
                    [ngClass]="{
                      'col-md-4':
                        !clinicVisitComment.value?.includes('Transfer'),

                      'col-md-6': clinicVisitComment.value?.includes('Transfer')
                    }"
                  >
                    <mdb-form-control>
                      <input
                        autocomplete="off"
                        formControlName="nextAppointmentDate"
                        mdbInput
                        [mdbValidate]="true"
                        [mdbDatepicker]="nextAppointmentDatePicker"
                        type="text"
                        class="form-control"
                        id="nextAppointmentDateInput"
                        placeholder="dd, mmm, yyyy"
                        (click)="nextAppointmentDatePicker.open()"
                      />
                      <label
                        mdbLabel
                        for="nextAppointmentDateInput"
                        class="form-label"
                        >Next Appointment Date</label
                      >
                      <mdb-datepicker
                        #nextAppointmentDatePicker
                        format="dd, mmm, yyyy"
                      ></mdb-datepicker>
                    </mdb-form-control>
                  </div>
                  <!-- Comment -->
                  <div class="col-12 col-md-4 col-lg-12">
                    <mdb-form-control>
                      <mdb-select
                        formControlName="clinicVisitComment"
                        [mdbValidate]="true"
                        #clinicVisitComment
                      >
                        <mdb-option
                          *ngFor="let clinicComment of clinicComments"
                          [value]="clinicComment"
                          >{{ clinicComment }}</mdb-option
                        >
                      </mdb-select>
                      <label mdbLabel class="form-label">Comment</label>
                    </mdb-form-control>
                  </div>
                  <ng-container
                    *ngIf="clinicVisitComment.value?.includes('Transfer')"
                  >
                    <!-- Facility Affiliated -->
                    <div class="col-12 col-md-4 col-lg-12">
                      <mdb-form-control>
                        <mdb-select
                          formControlName="facility"
                          [mdbValidate]="true"
                          [filter]="true"
                        >
                          <mdb-option
                            *ngFor="let facility of facilities"
                            [value]="facility.site"
                            [label]="facility.site"
                          >
                            <div class="d-flex align-items-center w-100 m-auto">
                              <span class="badge bg-primary me-3">{{
                                facility.state
                              }}</span>
                              <span>{{ facility.site }}</span>
                              <div class="flex-fill"></div></div
                          ></mdb-option>
                        </mdb-select>
                        <label mdbLabel class="form-label">Facility</label>
                      </mdb-form-control>
                    </div>

                    <!-- Date Transferred -->
                    <div class="col-12 col-md-4 col-lg-12">
                      <mdb-form-control>
                        <input
                          autocomplete="off"
                          formControlName="dateTransferred"
                          mdbInput
                          [mdbValidate]="true"
                          [mdbDatepicker]="dateTransferredDatepicker"
                          type="text"
                          class="form-control"
                          id="dateTransferredInput"
                          placeholder="dd, mmm, yyyy"
                          (click)="dateTransferredDatepicker.open()"
                        />
                        <label
                          mdbLabel
                          for="dateTransferredInput"
                          class="form-label"
                          >Date Transferred</label
                        >
                        <mdb-datepicker
                          #dateTransferredDatepicker
                          format="dd, mmm, yyyy"
                        ></mdb-datepicker>
                      </mdb-form-control>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <!-- Viral Load History -->
          <div class="col-12 col-lg-8">
            <div class="card">
              <div class="card-header">
                <div class="d-flex align-items-center">
                  <h6 class="text-primary mb-0">VIRAL LOAD HISTORY</h6>
                  <div class="flex-fill"></div>

                  <div class="form-check me-3">
                    <input
                      autocomplete="off"
                      mdbCheckbox
                      class="form-check-input"
                      type="checkbox"
                      id="noViralLoadHasBeenDone"
                      [formControl]="noViralLoadHasBeenDoneFormControl"
                      #noViralLoadHasBeenDone
                    />
                    <label
                      class="form-check-label"
                      for="noViralLoadHasBeenDone"
                    >
                      Nil
                    </label>
                  </div>
                  <button
                    class="btn btn-sm btn-primary"
                    [disabled]="
                      noViralLoadHasBeenDone.checked ||
                      (uniqueARTNumberFormControl.invalid &&
                        uniqueARTNumberFormControl.dirty)
                    "
                    (click)="openNewVLModal()"
                  >
                    Add New
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div
                  class="d-flex align-items-center justify-content-between mb-3"
                >
                  <div class="d-flex flex-column justify-content-center">
                    <small class="mb-1">Pending Status</small>

                    <div class="input-group input-group-sm me-3">
                      <div class="input-group-text">
                        <input
                          class="form-check-input mt-0"
                          type="checkbox"
                          id="pendingStatus"
                          [formControl]="pendingStatusFormControl"
                          #pendingStatus
                        />
                      </div>
                      <mdb-form-control [ngStyle]="{ flex: 1 }">
                        <input
                          autocomplete="off"
                          mdbInput
                          [mdbDatepicker]="pendingSampleDatepicker"
                          type="text"
                          class="form-control form-control-sm"
                          id="pendingSampleDateInput"
                          placeholder="dd, mmm, yyyy"
                          (click)="pendingSampleDatepicker.open()"
                          formControlName="pendingStatusDate"
                          [disabled]="!pendingStatus.checked"
                        />
                        <label
                          mdbLabel
                          for="pendingSampleDateInput"
                          class="form-label"
                          >Date Sample Collected</label
                        >
                        <mdb-datepicker
                          #pendingSampleDatepicker
                          [maxDate]="maxDate"
                          format="dd, mmm, yyyy"
                        ></mdb-datepicker>
                      </mdb-form-control>
                    </div>
                  </div>
                  <div
                    class="
                      flex-end
                      d-flex
                      flex-column
                      align-items-end
                      justify-content-between
                    "
                    *ngIf="
                      nextViralLoadSampleCollectionDate ||
                      diffDate(nextViralLoadSampleCollectionDate, time) > 0
                    "
                  >
                    <small class="mb-1"
                      >Next Viral Load Sample Collection Date</small
                    >
                    <h4 class="mb-0">
                      <div
                        class="badge"
                        [ngClass]="{
                          'badge-primary':
                            diffDate(nextViralLoadSampleCollectionDate, time) >=
                            0,
                          'badge-danger':
                            diffDate(nextViralLoadSampleCollectionDate, time) <
                            0
                        }"
                      >
                        {{
                          nextViralLoadSampleCollectionDate | date: "longDate"
                        }}
                        |
                        <ng-container
                          *ngIf="
                            diffDate(nextViralLoadSampleCollectionDate, time) ==
                              0;
                            else notToday
                          "
                        >
                          "TODAY"
                        </ng-container>

                        <ng-template #notToday>
                          {{
                            diffDate(nextViralLoadSampleCollectionDate, time)
                              | abs
                              | number: "1.0-0"
                          }}
                          DAYS
                          {{
                            diffDate(nextViralLoadSampleCollectionDate, time) >
                            0
                              ? "LEFT"
                              : "PASSED"
                          }}
                        </ng-template>
                      </div>
                    </h4>
                  </div>
                </div>
                <div class="card bg-light shadow-3">
                  <div class="datatable" *ngIf="vlh.length">
                    <div class="datatable-inner position-relative" mdbScrollbar>
                      <table
                        class="
                          table table-sm
                          datatable-table
                          align-middle
                          table-striped
                        "
                      >
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Category</th>
                            <th scope="col">Value</th>
                            <th scope="col">Date Sample Collected</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let vl of vlh; index as i">
                            <th>{{ !i ? "Most Current VL" : i + 1 }}</th>
                            <td>
                              <span
                                class="badge"
                                [ngClass]="{
                                  'bg-danger': (vl?.value || 0) >= 1000,
                                  'bg-primary': !vl.value || vl.value < 1000
                                }"
                              >
                                {{ (vl?.value || 0) >= 1000 ? "High" : "Low" }}
                                Viral Load</span
                              >
                            </td>
                            <td>
                              {{ vl.value || "Below Detection Level" }}
                            </td>
                            <td>
                              {{ vl.dateSampleCollected | date: "longDate" }}
                            </td>

                            <td>
                              <div>
                                <button
                                  mdbRipple
                                  type="button"
                                  class="
                                    btn btn-sm btn-primary btn-floating
                                    me-3
                                  "
                                  (click)="openEditVLModal(i)"
                                >
                                  <i class="fas fa-edit"></i>
                                </button>
                                <button
                                  mdbRipple
                                  rippleColor="danger"
                                  type="button"
                                  class="btn btn-sm btn-danger btn-floating"
                                  (click)="removeVL(i)"
                                >
                                  <i class="fas fa-trash"></i>
                                </button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="note note-warning" *ngIf="!vlh.length">
                  Nothing to show.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row g-3">
          <div class="col-12">
            <div class="row g-3">
              <div class="col-12 col-md-10">
                <div class="card bg-primary text-light shadow-3">
                  <div class="card-body">
                    <div
                      class="row align-items-center justify-content-between g-3"
                    >
                      <div class="col-12 col-lg-6 d-flex align-items-center">
                        <h6 class="me-3 mb-0">Viral Load Eligibility Status</h6>
                        <h3 class="mb-0">
                          <span
                            class="
                              badge
                              text-uppercase
                              mb-0
                              d-flex
                              align-items-center
                            "
                            [ngClass]="{
                              'badge-success': eligibilityStatus?.eligible,
                              'badge-warning':
                                eligibilityStatus &&
                                !eligibilityStatus?.eligible &&
                                eligibilityStatus?.note == 'incomplete-eac',
                              'badge-danger':
                                eligibilityStatus &&
                                !eligibilityStatus?.eligible,
                              'badge-dark': !eligibilityStatus
                            }"
                          >
                            {{
                              eligibilityStatus
                                ? eligibilityStatus?.eligible
                                  ? "eligible"
                                  : "ineligible"
                                : "pending"
                            }}
                            <span
                              *ngIf="eligibilityStatus?.note"
                              class="badge bg-danger ms-3"
                            >
                              EAC-3 NOT COMPLETED
                            </span>
                          </span>
                        </h3>
                      </div>
                      <div class="col-12 col-lg-6 d-flex align-items-center">
                        <h6 class="me-3 mb-0">Clinic Status (IIT)</h6>
                        <h3 class="mb-0">
                          <span
                            class="badge text-uppercase"
                            [ngClass]="{
                              'badge-success': iit == 'active',
                              'badge-primary': iit == 'iit <= 1',
                              'badge-warning': iit == 'iit <= 3',
                              'badge-danger': iit == 'iit > 3',
                              'badge-dark': iit == 'pending' || !iit
                            }"
                          >
                            {{
                              (iit || "pending")
                                .replace("<=", "≤")
                                .replace("> 3", "3⁺")
                            }}
                          </span>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-2 d-flex align-items-center">
                <button
                  class="btn btn-lg btn-success ms-auto w-100 h-100"
                  [ngStyle]="{
                    'border-radius': '0.5rem',
                    cursor:
                      uniqueARTNumberFormControl.invalid ||
                      clinicVisitFormGroup.invalid
                        ? 'not-allowed'
                        : 'pointer'
                  }"
                  (click)="saveEntryForm()"
                  [disabled]="
                    uniqueARTNumberFormControl.invalid ||
                    clinicVisitFormGroup.invalid
                  "
                  mdbRipple
                >
                  <h5 class="mb-0">Save</h5>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="actions-container" class="p-4 bg-light" *ngIf="false">
      <div class="container-lg">
        <div class="row">
          <div class="col-12">
            <div class="row align-items-center g-3">
              <div>
                <div class="card">
                  <div class="card-body">
                    <div class="row g-3">
                      <div class="col-6">
                        <button
                          class="btn btn-success btn-lg w-100 h-100"
                          type="button"
                          (click)="saveEntryForm()"
                          [disabled]="
                            uniqueARTNumberFormControl.invalid ||
                            clinicVisitFormGroup.invalid
                          "
                        >
                          Save
                        </button>
                      </div>

                      <div class="col-3 d-flex flex-column text-center">
                        <h2>
                          <div
                            class="badge text-uppercase"
                            [ngClass]="{
                              'badge-success': eligibilityStatus?.eligible,
                              'badge-warning':
                                eligibilityStatus &&
                                !eligibilityStatus?.eligible &&
                                eligibilityStatus?.note == 'incomplete-eac',
                              'badge-danger':
                                eligibilityStatus &&
                                !eligibilityStatus?.eligible,
                              'badge-dark': !eligibilityStatus
                            }"
                            [mdbTooltip]="eligibilityStatus?.note || ''"
                          >
                            {{
                              eligibilityStatus
                                ? eligibilityStatus?.eligible
                                  ? "eligible"
                                  : "ineligible"
                                : "pending"
                            }}
                          </div>
                        </h2>
                        <span class="small text-uppercase"
                          >Viral Load Eligibility Status
                        </span>
                      </div>

                      <div class="col-3 d-flex flex-column text-center">
                        <h2>
                          <div
                            class="badge text-uppercase"
                            [ngClass]="{
                              'badge-success': iit == 'active',
                              'badge-primary': iit == 'iit <= 1',
                              'badge-warning': iit == 'iit <= 3',
                              'badge-danger': iit == 'iit > 3',
                              'badge-dark': iit == 'pending' || !iit
                            }"
                          >
                            {{
                              (iit || "pending")
                                .replace("<=", "≤")
                                .replace("> 3", "3⁺")
                            }}
                          </div>
                        </h2>
                        <span class="small text-uppercase"
                          >Clinic Status (IIT)</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <span
      id="mini-dashboard-toggler"
      class="mb-1 bg-primary shadow-5 position-absolute top-50 end-0"
      mdbRipple
      (click)="miniDashboardShown = !miniDashboardShown"
    >
      <a>
        <i
          class="fas fa-angle-double-left m-2 text-light"
          [ngStyle]="{
            transform: miniDashboardShown ? 'rotate(180deg)' : 'none'
          }"
        ></i
      ></a>
    </span>
  </div>

  <div
    id="mini-dashboard"
    class="bg-light p-3 shadow-5"
    *ngIf="miniDashboardShown"
    [@slideInRight]
  >
    <div class="d-flex flex-column">
      <!-- Eligible -->
      <div>
        <div class="d-flex align-items-center mb-3">
          <button
            type="button"
            class="btn btn-success btn-sm btn-floating me-3 flex-shrink-0"
          >
            {{ (entriesServ.eligible$ | async)?.length || 0 }}
          </button>
          <div class="d-flex flex-column flex-fill">
            <small> Eligible </small>
            <div class="progress rounded show_box_progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                [ngStyle]="{
                  width:
                    (((entriesServ.eligible$ | async)?.length || 0) /
                      ((entriesServ.all$ | async)?.length || 1)) *
                      100 +
                    '%'
                }"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pregnant/Breastfeeding -->
      <div>
        <div class="d-flex align-items-center mb-3">
          <button
            type="button"
            class="btn btn-primary btn-sm btn-floating me-3 flex-shrink-0"
          >
            {{ (entriesServ.pregnant$ | async)?.length || 0 }}
          </button>
          <div class="d-flex flex-column flex-fill">
            <small> Pregnant/ Breastfeeding </small>
            <div class="progress rounded show_box_progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                [ngStyle]="{
                  width:
                    (((entriesServ.pregnant$ | async)?.length || 0) /
                      ((entriesServ.all$ | async)?.length || 1)) *
                      100 +
                    '%'
                }"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <!-- HVL With EAC-3 Completed -->
      <div>
        <div class="d-flex align-items-center mb-3">
          <button
            type="button"
            class="btn btn-danger btn-sm btn-floating me-3 flex-shrink-0"
          >
            {{ (entriesServ.hvl_eac3_completed$ | async)?.length || 0 }}
          </button>
          <div class="d-flex flex-column flex-fill">
            <small> HVL W/ EAC-3 Completed </small>
            <div class="progress rounded show_box_progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                [ngStyle]="{
                  width:
                    (((entriesServ.hvl_eac3_completed$ | async)?.length || 0) /
                      ((entriesServ.all$ | async)?.length || 1)) *
                      100 +
                    '%'
                }"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pending Results -->
      <div>
        <div class="d-flex align-items-center mb-3">
          <button
            type="button"
            class="btn btn-warning btn-sm btn-floating me-3 flex-shrink-0"
          >
            {{ (entriesServ.pending$ | async)?.length || 0 }}
          </button>
          <div class="d-flex flex-column flex-fill">
            <small> Pending Results </small>
            <div class="progress rounded show_box_progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                [ngStyle]="{
                  width:
                    (((entriesServ.pending$ | async)?.length || 0) /
                      ((entriesServ.all$ | async)?.length || 1)) *
                      100 +
                    '%'
                }"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
