<div class="card">
  <div class="card-header text-uppercase">
    <div class="d-flex align-items-center justify-content-between">
      <div class="text-success">Eligible for Viral Load</div>
      <div class="btn-group btn-group-sm" role="group">
        <button
          type="button"
          class="btn btn-success"
          (click)="mode$.next('day')"
          [ngClass]="{ active: (mode$ | async) == 'day' }"
        >
          Day
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="mode$.next('week')"
          [ngClass]="{ active: (mode$ | async) == 'week' }"
        >
          Week
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="mode$.next('month')"
          [ngClass]="{ active: (mode$ | async) == 'month' }"
        >
          Month
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="d-flex align-items-center justify-content-center h-100">
      <canvas
        mdbChart
        [type]="'line'"
        [datasets]="eligibilityChartDatasets"
        [labels]="eligibilityChartLabels"
        [options]="eligibilityChartOptions"
      ></canvas>
    </div>
  </div>
</div>
