<div class="card">
  <div class="card-header text-uppercase text-light bg-success">
    Eligible for Viral Load
  </div>

  <div class="card-body">
    <div class="d-flex align-items-center justify-content-center h-100">
      <canvas
        mdbChart
        [type]="'line'"
        [datasets]="eligibilityChartDatasets"
        [labels]="eligibilityChartLabels"
        [options]="eligibilityChartOptions"
      ></canvas>
    </div>
  </div>

  <div class="card-footer bg-success">
    <div class="d-flex justify-content-center">
      <div class="btn-group btn-group-sm" role="group">
        <button
          type="button"
          class="btn btn-light"
          (click)="setMode('day')"
          [ngClass]="{ active: mode == 'day' }"
        >
          Day
        </button>
        <button
          type="button"
          class="btn btn-light"
          (click)="setMode('week')"
          [ngClass]="{ active: mode == 'week' }"
        >
          Week
        </button>
        <button
          type="button"
          class="btn btn-light"
          (click)="setMode('month')"
          [ngClass]="{ active: mode == 'month' }"
        >
          Month
        </button>
      </div>
    </div>
  </div>
</div>
