<div class="card">
  <div class="card-header text-uppercase text-light bg-primary">
    Clinic Visit Status by IIT
  </div>

  <div class="card-body">
    <div class="d-flex align-items-center justify-content-center h-100">
      <canvas
        mdbChart
        [type]="'bar'"
        [datasets]="cvsChartDatasets"
        [labels]="cvsChartLabels"
        [options]="cvsChartOptions"
      ></canvas>
    </div>
  </div>
  <div class="card-footer bg-primary">
    <div class="d-flex justify-content-center">
      <div class="btn-group btn-group-sm" role="group">
        <button
          type="button"
          class="btn btn-light"
          (click)="showAll()"
          [ngClass]="{ active: showAllFormControl.value }"
        >
          All
        </button>
        <button
          type="button"
          class="btn btn-light"
          (click)="showAll(false)"
          [ngClass]="{ active: !showAllFormControl.value }"
        >
          Eligible Only
        </button>
      </div>
    </div>
  </div>
</div>
