#settings-wrapper {
  height: 100%;
  overflow: hidden;

  #main-container {
    overflow-y: auto;
  }

  .datatable table td {
    padding: 0.5rem 1.4rem;
    vertical-align: middle;
  }

  .datatable tbody tr:last-child {
    height: unset;
  }

  .datatable-pagination {
    padding: 0 !important;
  }
}

.actions {
  max-width: max-content !important;
}
