.advancedFilterOption {
  .option-text {
    width: 100%;
    display: flex !important;
    align-items: center !important;
  }
}

.advancedFilterSelect {
  display: flex;
  height: 100%;
  align-items: center;
}
