<div class="card" *ngIf="entriesServ.allBySex$ | async as allBySex">
  <!-- <div class="card-header text-primary text-uppercase">Sex</div> -->

  <div class="card-body">
    <div class="row align-items-center justify-content-center h-100 g-3">
      <div class="col-12 col-md-6">
        <div class="row g-3">
          <div class="col-12">
            <div class="lead text-center">Male</div>
            <div class="d-flex justify-content-center">
              <div class="d-flex align-items-center me-3">
                <i
                  [ngStyle]="{ color: 'rgba(33,150,243,.3)' }"
                  class="fas fa-circle me-1"
                ></i>
                <span class="small text-muted">Eligible</span>
              </div>

              <div class="d-flex align-items-center">
                <i
                  [ngStyle]="{ color: '#2196F3' }"
                  class="fas fa-circle me-1"
                ></i>
                <span class="small text-muted">Ineligible</span>
              </div>
            </div>
          </div>

          <div
            class="col-12 position-relative"
            [ngStyle]="{ 'max-height': '175px' }"
          >
            <div
              class="
                position-absolute
                top-50
                start-50
                translate-middle
                text-center
              "
            >
              <h1 class="mb-0">
                {{
                  allBySex.eligible.male.length +
                    allBySex.ineligible.male.length
                }}
              </h1>
            </div>
            <canvas
              mdbChart
              [type]="'doughnut'"
              [datasets]="eligibilityChartDatasetsForMale"
              [labels]="eligibilityChartLabels"
              [options]="eligibilityChartOptions"
            ></canvas>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row g-3">
          <div class="col-12">
            <div class="lead text-center">Female</div>
            <div class="d-flex justify-content-center">
              <div class="d-flex align-items-center me-3">
                <i
                  [ngStyle]="{ color: 'rgba(244,67,54,.3)' }"
                  class="fas fa-circle me-1"
                ></i>
                <span class="small text-muted">Eligible</span>
              </div>

              <div class="d-flex align-items-center">
                <i
                  [ngStyle]="{ color: '#F44336' }"
                  class="fas fa-circle me-1"
                ></i>
                <span class="small text-muted">Ineligible</span>
              </div>
            </div>
          </div>

          <div
            class="col-12 position-relative"
            [ngStyle]="{ 'max-height': '175px' }"
          >
            <div
              class="
                position-absolute
                top-50
                start-50
                translate-middle
                text-center
              "
            >
              <h1 class="mb-0">
                {{
                  allBySex.eligible.female.length +
                    allBySex.ineligible.female.length
                }}
              </h1>
            </div>
            <canvas
              mdbChart
              [type]="'doughnut'"
              [datasets]="eligibilityChartDatasetsForFemale"
              [labels]="eligibilityChartLabels"
              [options]="eligibilityChartOptions"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
