<div id="database-wrapper" class="d-flex">
  <div
    class="d-flex flex-column position-relative flex-fill"
    style="max-width: 100%"
  >
    <div id="main-container" class="p-4 flex-fill d-flex flex-column">
      <div class="container-fluid mb-3">
        <div class="card">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <button
                  type="button"
                  class="btn btn-sm btn-primary btn-floating shadow-0"
                  [ngClass]="{
                    'btn-light': !(advancedFilter | async),
                    'btn-primary': (advancedFilter | async)
                  }"
                  (click)="advancedFilter.next(!advancedFilter.getValue())"
                >
                  <i
                    class="fas fa-angle-double-down"
                    [ngStyle]="{
                      transition: 'transform 0.3s',
                      transform:
                        (advancedFilter | async) ? 'rotate(180deg)' : 'none'
                    }"
                  ></i>
                </button>

                <div
                  class="d-flex align-items-center"
                  [@zoomInEnter]
                  [@zoomOutLeave]
                  *ngIf="advancedFilter | async"
                >
                  <button
                    type="button "
                    class="btn btn-sm btn-light btn-floating ms-3 shadow-0"
                    (click)="
                      isAdvancedFiltersExpanded = !isAdvancedFiltersExpanded
                    "
                    mdbRipple
                  >
                    <i
                      class="fas"
                      [ngClass]="{
                        'fa-compress-arrows-alt': isAdvancedFiltersExpanded,
                        'fa-expand-arrows-alt': !isAdvancedFiltersExpanded
                      }"
                    ></i>
                  </button>

                  <div class="h5 mb-0 ms-3">
                    {{ advancedActiveFiltersCount | async }} Active Filter{{
                      ((advancedActiveFiltersCount | async) || 0) > 1 ? "s" : ""
                    }}
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <mdb-form-control
                  class="me-3"
                  *ngIf="!(advancedFilter | async)"
                  [@zoomInEnter]
                  [@zoomOutLeave]
                >
                  <input
                    mdbInput
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Search"
                    [formControl]="filterFormControl"
                  />
                </mdb-form-control>
                <button
                  class="btn btn-sm btn-success me-3 shadow-0"
                  (click)="openExportEntriesModal()"
                >
                  Export Entries
                </button>
                <button
                  class="btn btn-sm btn-secondary me-3 shadow-0"
                  (click)="openImportEntriesModal()"
                  *ngIf="authServ.isAdmin$ | async"
                >
                  Import Entries
                </button>
                <button
                  class="btn btn-sm btn-primary shadow-0"
                  routerLink="/entry-form"
                >
                  Add New Entry
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid mb-3" *ngIf="advancedFilter | async">
        <div
          class="card flex-fill me-3 w-100"
          [ngStyle]="{
            'max-height': isAdvancedFiltersExpanded ? '100vh' : '61px',
            overflow: 'auto',
            transition: 'max-height 1s ease-in-out'
          }"
        >
          <div class="card-header py-3">
            <database-advanced-filters
              [currentAdvancedFilters]="currentAdvancedFilters"
              (advancedFiltersUpdated)="updateAdvancedFilters($event)"
            ></database-advanced-filters>
          </div>
        </div>
      </div>
      <div class="container-fluid flex-fill" [ngStyle]="{ overflow: 'hidden' }">
        <div class="card h-100">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <h5 class="mb-0 me-3">
                  {{
                    (entries$ | async)?.length !=
                    (entriesServ.entries_formatted$ | async)?.length
                      ? (entries$ | async)?.length
                      : ""
                  }}
                  {{
                    (entries$ | async)?.length ==
                    (entriesServ.entries_formatted$ | async)?.length
                      ? ""
                      : "out of"
                  }}

                  {{ (entriesServ.entries_formatted$ | async)?.length }}
                  Entries
                  {{
                    (entries$ | async)?.length ==
                    (entriesServ.entries_formatted$ | async)?.length
                      ? ""
                      : "Shown"
                  }}
                </h5>
              </div>
              <div>
                <div mdbDropdown class="btn-group dropstart me-3 shadow-0">
                  <button
                    class="btn btn-light btn-sm dropdown-toggle shadow-0"
                    type="button"
                    mdbDropdownToggle
                    aria-expanded="false"
                  >
                    Sort By {{ (sortHeader$ | async)?.header }}
                  </button>
                  <ul
                    mdbDropdownMenu
                    class="dropdown-menu"
                    [ngStyle]="{ 'max-height': '200px', overflow: 'auto' }"
                  >
                    <ng-container *ngFor="let field of fields">
                      <li
                        *ngIf="
                          (sortHeader$ | async)?.header != field.header &&
                          field.header != 'Actions'
                        "
                        (click)="sortHeader$.next(field)"
                      >
                        <a class="dropdown-item">{{ field.header }}</a>
                      </li>
                    </ng-container>
                  </ul>
                </div>

                <div class="btn-group btn-group-sm shadow-0" role="group">
                  <ng-container *ngFor="let dir of ['asc', 'desc']">
                    <button
                      type="button"
                      class="btn btn-light"
                      [ngClass]="{
                        active:
                          ((sortIsAscending$ | async) && dir == 'asc') ||
                          (!(sortIsAscending$ | async) && dir == 'desc')
                      }"
                      (click)="sortIsAscending$.next(dir == 'asc')"
                    >
                      {{ dir }}
                    </button>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div
            class="card-body flex-fill p-0"
            [ngStyle]="{ 'max-height': ' 100%', overflow: 'auto' }"
            #boundary
          >
            <div
              class="datatable"
              [ngStyle]="{
                overflow: 'auto',
                'max-height': '100%',
                height: '100%'
              }"
            >
              <div
                class="datatable-inner"
                mdbScrollbar
                [config]="config"
                style="position: relative; width: 100%; height: 100%"
              >
                <table
                  class="table datatable-table"
                  mdbTable
                  [fixedHeader]="true"
                  #table="mdbTable"
                  [dataSource]="(entries$ | async) || []"
                  [pagination]="pagination"
                  [responsive]="true"
                  [sm]="true"
                  [striped]="true"
                >
                  <thead class="datatable-header">
                    <tr #headerRow>
                      <th
                        *ngFor="let field of fields"
                        scope="col"
                        class="draggable-element"
                        (click)="sortByHeader(field)"
                        style="cursor: pointer"
                      >
                        {{ field.header }}
                      </th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody class="datatable-body">
                    <tr *ngFor="let data of table.data" scope="row">
                      <td>
                        {{ data?.entryDate | date: "longDate" }}
                      </td>
                      <td>
                        <ng-container
                          *ngIf="data?.facility as facility; else noFacility"
                        >
                          <div
                            class="
                              d-flex
                              justify-content-between
                              align-items-center
                            "
                          >
                            <div class="me-3">
                              {{
                                (
                                  facilitiesServ.getFacilityByCode(facility)
                                  | async
                                )?.site
                              }}
                            </div>
                            <div class="badge badge-primary">
                              {{
                                (
                                  facilitiesServ.getFacilityByCode(facility)
                                  | async
                                )?.code
                              }}
                            </div>
                          </div>
                        </ng-container>

                        <ng-template #noFacility>
                          <div class="badge badge-danger">Not provided</div>
                        </ng-template>
                      </td>
                      <td mdbSticky [stickyBoundary]="boundary">
                        <div class="badge badge-info">
                          {{ data?.uniqueARTNumber | uppercase }}
                        </div>
                      </td>
                      <td>
                        {{ data?.ARTStartDate | date: "longDate" }}
                      </td>
                      <td>
                        {{ data?.sex | titlecase }}
                      </td>
                      <td>
                        <ng-container *ngIf="data.birthdate; else noBirthdate">
                          <ng-container *ngIf="getAge(data.birthdate) as age">
                            {{ ageToText(age, true) }}
                          </ng-container>
                        </ng-container>

                        <ng-template #noBirthdate>
                          {{ data?.age.age }} {{ data?.age.unit
                          }}{{ data?.age.age > 1 ? "s " : " " }}
                          old
                        </ng-template>
                      </td>
                      <td>
                        <ng-container *ngIf="data?.phoneNumber; else unknown">
                          {{ data?.phoneNumber }}
                        </ng-container>
                      </td>
                      <td>
                        <div
                          class="badge me-3"
                          [ngClass]="{
                            'badge-primary':
                              getRegimenByCode(data?.regimen)?.category ==
                              'TLD',
                            'badge-warning':
                              getRegimenByCode(data?.regimen)?.category == 'TLE'
                          }"
                        >
                          {{ data?.regimen }}
                        </div>
                        <span>
                          {{ getRegimenByCode(data?.regimen)?.regimen }}
                        </span>
                      </td>
                      <td>
                        {{ data?.regimenStartTransDate | date: "longDate" }}
                      </td>
                      <td>
                        <ng-container
                          *ngIf="data?.pmtct == 'yes'; else noBadge"
                        >
                          <ng-container
                            *ngTemplateOutlet="yesBadge"
                          ></ng-container>
                        </ng-container>
                      </td>
                      <td>
                        <ng-container
                          *ngIf="data?.pmtctEnrollStartDate; else notApplicable"
                        >
                          {{ data?.pmtctEnrollStartDate | date: "longDate" }}
                        </ng-container>
                      </td>
                      <td>
                        <ng-container *ngIf="data?.hvl == 'yes'; else noBadge">
                          <ng-container
                            *ngTemplateOutlet="yesBadge"
                          ></ng-container>
                        </ng-container>
                      </td>
                      <td>
                        <ng-container
                          *ngIf="
                            data?.eac3Completed as eac3Completed;
                            else notApplicable
                          "
                        >
                          <ng-container
                            *ngIf="data.eac3Completed == 'yes'; else noBadge"
                          >
                            <ng-container
                              *ngTemplateOutlet="yesBadge"
                            ></ng-container>
                          </ng-container>
                        </ng-container>
                      </td>
                      <td>
                        <ng-container
                          *ngIf="
                            data?.eac3CompletionDate as eac3Date;
                            else notApplicable
                          "
                        >
                          {{ eac3Date | date: "longDate" }}
                        </ng-container>
                      </td>
                      <td>
                        <ng-container
                          *ngIf="data?.pendingStatusDate; else noBadge"
                        >
                          <ng-container
                            *ngTemplateOutlet="yesBadge"
                          ></ng-container>
                        </ng-container>
                      </td>
                      <td>
                        <ng-container
                          *ngIf="
                            data?.pendingStatusDate as pendingDate;
                            else notApplicable
                          "
                        >
                          {{ pendingDate | date: "longDate" }}
                        </ng-container>
                      </td>
                      <td>
                        <div
                          class="badge text-uppercase"
                          [ngClass]="{
                            'badge-success': data?.eligible,
                            'badge-danger': !data?.eligible
                          }"
                        >
                          {{ data?.eligible ? "eligible" : "ineligible" }}
                        </div>
                      </td>

                      <td>
                        <span
                          *ngIf="data.iit as iit"
                          class="badge text-uppercase"
                          [ngClass]="{
                            'badge-success': iit == 'active',
                            'badge-primary': iit == 'iit <= 1',
                            'badge-warning': iit == 'iit <= 3',
                            'badge-danger': iit == 'iit > 3',
                            'badge-dark': iit == 'pending' || !iit
                          }"
                        >
                          {{
                            (iit || "pending")
                              .replace("<=", "≤")
                              .replace("> 3", "3⁺")
                          }}
                        </span>
                      </td>
                      <td class="actions">
                        <div class="d-flex">
                          <button
                            type="button"
                            class="btn btn-primary btn-rounded btn-sm me-3"
                            (click)="viewVLH(data?.vlh)"
                            [disabled]="!data?.vlh.length"
                          >
                            VLH
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-rounded btn-sm me-3"
                            (click)="viewCVH(data?.cvh)"
                            [disabled]="!data?.cvh.length"
                          >
                            CVH
                          </button>
                          <button
                            type="button"
                            class="btn btn-success btn-floating btn-sm me-3"
                            (click)="generateReport(data?.uniqueARTNumber)"
                            mdbRipple
                          >
                            <i class="fas fa-book"></i>
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-floating btn-sm me-3"
                            (click)="loadEntry(data?.uniqueARTNumber)"
                            mdbRipple
                            [disabled]="
                              data.facility !=
                              (authServ.currentFacility$ | async)?.code
                            "
                          >
                            <i class="fas fa-edit"></i>
                          </button>
                          <button
                            type="button"
                            class="btn btn-danger btn-floating btn-sm"
                            mdbRipple
                            disabled
                          >
                            <i class="fas fa-trash"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ng-container *ngIf="tableIsLoading">
                  <div class="datatable-loader bg-light">
                    <span class="datatable-loader-inner">
                      <span class="datatable-progress bg-primary"></span>
                    </span>
                  </div>
                  <p class="text-center text-muted my-4">Loading results...</p>
                </ng-container>
              </div>
            </div>
          </div>

          <div
            class="card-footer"
            [ngClass]="{
              'visually-hidden': ((entriesServ.all$ | async)?.length || 0) < 25
            }"
          >
            <mdb-table-pagination
              #pagination
              [entries]="25"
              [entriesOptions]="[25, 50, 100, 250, 500]"
            ></mdb-table-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notApplicable>
  <div class="badge badge-warning text-uppercase">Not Applicable</div>
</ng-template>

<ng-template #unknown>
  <div class="badge badge-dark text-uppercase">Unknown</div>
</ng-template>

<ng-template #yesBadge>
  <div class="badge badge-success text-uppercase">Yes</div>
</ng-template>

<ng-template #noBadge>
  <div class="badge badge-danger text-uppercase">No</div>
</ng-template>

<ng-template #dateActiveFilter>
  <div class="row g-3">
    <mdb-form-control>
      <input
        mdbInput
        [mdbDatepicker]="entryDateFrom"
        type="text"
        class="form-control form-control-sm"
        id="exampleDatepicker"
        (click)="entryDateFrom.open()"
      />
      <label mdbLabel for="exampleDatepicker" class="form-label">From</label>
      <mdb-datepicker #entryDateFrom="mdbDatepicker"></mdb-datepicker>
    </mdb-form-control>
    <mdb-form-control>
      <input
        mdbInput
        [mdbDatepicker]="entryDateTo"
        type="text"
        class="form-control form-control-sm"
        id="exampleDatepicker"
        (click)="entryDateTo.open()"
      />
      <label mdbLabel for="exampleDatepicker" class="form-label">To</label>
      <mdb-datepicker #entryDateTo="mdbDatepicker"></mdb-datepicker>
    </mdb-form-control>
  </div>
</ng-template>
