<div id="wrapper" class="d-flex">
  <div
    class="d-flex flex-column position-relative flex-fill"
    style="max-width: 100%"
  >
    <div id="main-container" class="p-4 flex-fill d-flex flex-column">
      <div class="container-fluid mb-3">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <mdb-form-control>
              <input mdbInput type="text" id="form1" class="form-control" />
              <label mdbLabel class="form-label" for="form1">Filter</label>
            </mdb-form-control>
          </div>
          <div>
            <button
              class="btn btn-secondary me-3"
              (click)="openImportEntriesModal()"
              *ngIf="authServ.isAdmin$ | async"
            >
              Import Entries
            </button>
            <button class="btn btn-primary" routerLink="/entry-form">
              Add New Entry
            </button>
          </div>
        </div>
      </div>
      <div class="container-fluid flex-fill" [ngStyle]="{ overflow: 'hidden' }">
        <div class="card h-100">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <h4 class="mb-0 me-3">
                  {{ (entriesServ.all$ | async)?.length || 0 }} Entries
                </h4>
                <div class="badge badge-success">
                  {{ (entriesServ.eligible$ | async)?.length || 0 }} ELIGIBLE
                </div>
              </div>
              <div></div>
            </div>
          </div>
          <div
            class="card-body flex-fill p-0"
            [ngStyle]="{ 'max-height': ' 100%', overflow: 'auto' }"
          >
            <div
              class="datatable"
              [ngStyle]="{
                overflow: 'auto',
                'max-height': '100%',
                height: '100%'
              }"
            >
              <div
                class="datatable-inner"
                mdbScrollbar
                [config]="config"
                style="position: relative; width: 100%; height: 100%"
              >
                <table
                  class="table table-sm datatable-table"
                  mdbTable
                  mdbTableSort
                  [fixedHeader]="true"
                  #table="mdbTable"
                  #sort="mdbTableSort"
                  [dataSource]="(entriesServ.all$ | async) || []"
                  [pagination]="pagination"
                  [sort]="sort"
                >
                  <thead class="datatable-header">
                    <tr>
                      <th
                        *ngFor="let header of headers"
                        [mdbTableSortHeader]="header"
                        scope="col"
                        class="draggable-element"
                      >
                        {{ header }}
                      </th>
                    </tr>
                  </thead>
                  <tbody class="datatable-body">
                    <tr *ngFor="let data of table.data" scope="row">
                      <td>
                        {{ data?.entryDate?.toDate() | date: "longDate" }}
                      </td>
                      <td>
                        {{ data?.facilityName }}
                      </td>
                      <td>
                        <div class="badge badge-info">
                          {{ data?.uniqueARTNumber | uppercase }}
                        </div>
                      </td>
                      <td>
                        {{ data?.ARTStartDate?.toDate() | date: "longDate" }}
                      </td>
                      <td>
                        {{ data?.sex | titlecase }}
                      </td>
                      <td>
                        <ng-container *ngIf="data?.age; else birthdateKnown">{{
                          data?.age
                        }}</ng-container>
                        <ng-template #birthdateKnown>
                          <ng-container
                            *ngIf="
                              getAge(data?.birthdate?.toDate())?.years ||
                                getAge(data?.birthdate?.toDate())?.months;
                              else daysOnly
                            "
                          >
                            {{
                              getAge(data?.birthdate?.toDate())?.years
                                ? getAge(data?.birthdate?.toDate())?.years +
                                  " year"
                                : ""
                            }}{{
                              getAge(data?.birthdate?.toDate())?.months || 0 > 1
                                ? "s"
                                : ""
                            }}
                            {{
                              getAge(data?.birthdate?.toDate())?.years &&
                              getAge(data?.birthdate?.toDate())?.months
                                ? " and "
                                : ""
                            }}
                            {{
                              getAge(data?.birthdate?.toDate())?.months
                                ? getAge(data?.birthdate?.toDate())?.months +
                                  " month"
                                : ""
                            }}{{
                              getAge(data?.birthdate?.toDate())?.months || 0 > 1
                                ? "s"
                                : ""
                            }}</ng-container
                          >
                          <ng-template #daysOnly>
                            Approx.
                            {{
                              getAge(data?.birthdate?.toDate())?.days
                                ? getAge(data?.birthdate?.toDate())?.days +
                                  " day"
                                : ""
                            }}{{
                              getAge(data?.birthdate?.toDate())?.days || 0 > 1
                                ? "s"
                                : ""
                            }}
                          </ng-template>

                          old
                        </ng-template>
                      </td>
                      <td>{{ data?.phoneNumber }}</td>

                      <td>
                        <div
                          class="badge me-3"
                          [ngClass]="{
                            'badge-primary':
                              getRegimenByCode(data?.regimen)?.category ==
                              'TLD',
                            'badge-warning':
                              getRegimenByCode(data?.regimen)?.category == 'TLE'
                          }"
                        >
                          {{ data?.regimen }}
                        </div>
                        <span>
                          {{ getRegimenByCode(data?.regimen)?.regimen }}
                        </span>
                      </td>
                      <td>
                        {{
                          data?.regimenStartTransDate?.toDate()
                            | date: "longDate"
                        }}
                      </td>
                      <td>{{ data?.pmtct | titlecase }}</td>
                      <td>
                        {{
                          data?.pmtctEnrollStartDate
                            ? (data?.pmtctEnrollStartDate?.toDate()
                              | date: "longDate")
                            : "N/A"
                        }}
                      </td>
                      <td>{{ data?.hvl | titlecase }}</td>
                      <td>
                        {{
                          data?.eac3Completed == null
                            ? "N/A"
                            : (data?.eac3Completed | titlecase)
                        }}
                      </td>
                      <td>
                        {{
                          data?.eac3CompletionDate == null
                            ? "N/A"
                            : (data?.eac3CompletionDate?.toDate()
                              | date: "longDate")
                        }}
                      </td>
                      <td>
                        <div
                          class="badge text-uppercase"
                          [ngClass]="{
                            'badge-success': data?.eligibility?.eligible,
                            'badge-danger': !data?.eligibility?.eligible
                          }"
                        >
                          {{
                            data?.eligibility?.eligible
                              ? "eligible"
                              : "ineligible"
                          }}
                        </div>
                      </td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-primary btn-sm"
                          (click)="loadEntry(data?.uniqueARTNumber)"
                        >
                          Edit
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <button class="btn btn-success">Export Entries</button>
              </div>
              <div>
                <mdb-table-pagination #pagination></mdb-table-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
