<!-- Sidenav -->
<mdb-sidenav-layout>
  <mdb-sidenav
    #sidenav="mdbSidenav"
    [slim]="true"
    [slimCollapsed]="sidenavCollapsed"
    mode="side"
    (sidenavHidden)="sidenavHidden = true"
    (sidenavShown)="sidenavHidden = false"
    (sidenavCollapsed)="sidenavCollapsed = true"
    (sidenavExpanded)="sidenavCollapsed = false"
  >
    <!-- Sidenav Container -->
    <div id="sidenav-container">
      <!-- Sidenav Navbar -->
      <nav class="navbar navbar-dark bg-primary">
        <div class="d-flex justify-content-center w-100">
          <a
            class="navbar-brand position-relative"
            routerLink=""
            *ngIf="!sidenavCollapsed"
            tabindex="-1"
          >
            ViSURGE
          </a>
          <img
            src="../favicon.ico"
            alt=""
            srcset=""
            *ngIf="sidenavCollapsed"
            routerLink=""
            style="cursor: pointer"
            tabindex="-1"
          />
        </div>
      </nav>

      <!-- Sidenav Content Container -->
      <div id="sidenav-content-container">
        <!-- Sidenav Links -->
        <ul class="sidenav-menu my-1">
          <mdb-sidenav-item *ngFor="let link of sidenavLinks">
            <a
              class="sidenav-link"
              [routerLink]="link.route"
              routerLinkActive="active"
              tabindex="-1"
            >
              <i [class]="link.icon + ' me-3'"></i
              ><span slim="false">{{
                routeToLink(link.route) | titlecase
              }}</span></a
            >
          </mdb-sidenav-item>
          <hr />
          <mdb-sidenav-item *ngFor="let link of adminLinks">
            <a
              class="sidenav-link"
              [routerLink]="'admin/' + link.route"
              routerLinkActive="active"
              tabindex="-1"
            >
              <i [class]="link.icon + ' me-3'"></i
              ><span slim="false">{{
                routeToLink(link.route) | titlecase
              }}</span></a
            >
          </mdb-sidenav-item>
        </ul>
      </div>
    </div>
  </mdb-sidenav>

  <mdb-sidenav-content #sidenavContent>
    <!-- Main Container -->
    <div id="main-container" class="d-flex flex-column p-0">
      <!-- Main Navbar -->
      <nav
        class="navbar navbar-light bg-light"
        *ngIf="(activeRoute | async) != 'auth'"
        style="z-index: 2"
      >
        <div class="d-flex px-2 align-items-center w-100">
          <a
            id="sidenavToggler"
            class="text-primary ms-3"
            role="button"
            (click)="sidenav.toggle()"
            ><i
              class="fas fa-bars"
              [ngStyle]="{
                transform: !sidenavHidden ? 'rotate(90deg)' : 'none'
              }"
            ></i
          ></a>
          <a
            class="navbar-brand ms-3"
            href="#"
            *ngIf="sidenavHidden"
            routerLink=""
          >
            <span class="text-dark">Vi</span
            ><span class="text-primary">SURGE</span>
          </a>

          <span *ngIf="sidenavHidden">|</span>
          <span class="ms-3 text-dark">{{
            (activeRoute | async) || "dashboard" | titlecase
          }}</span>

          <div class="flex-fill h-100"></div>
          <ul class="navbar-nav d-flex flex-row">
            <!-- Icons -->
            <li class="nav-item me-3">
              <div mdbDropdown #langDropdown>
                <a
                  class="nav-link"
                  mdbDropdownToggle
                  role="button"
                  id="dropdownMenuLink"
                  (click)="$event.stopPropagation()"
                >
                  <i class="flag sd"></i>
                </a>
                <ul
                  mdbDropdownMenu
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuLink"
                >
                  <li><a class="dropdown-item">South Sudan</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item me-3">
              <div mdbDropdown #notifDropdown>
                <a
                  class="nav-link"
                  mdbDropdownToggle
                  role="button"
                  id="dropdownMenuLink"
                  (click)="$event.stopPropagation()"
                >
                  <i class="fas fa-bell"></i>
                  <span
                    class="badge rounded-pill badge-notification bg-danger"
                    *ngIf="(notifs | async)?.length"
                    >{{ (notifs | async)?.length }}</span
                  >
                </a>
                <ul
                  mdbDropdownMenu
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuLink"
                >
                  <ng-container *ngIf="(notifs | async)?.length; else noNotifs">
                    <li *ngFor="let notif of notifs | async">
                      <a class="dropdown-item d-flex align-items-center">
                        <span class="me-3">{{ notif.message }}</span>
                        <span class="flex-fill"></span>
                        <span class="text-muted small">{{
                          notif.dateCreated.toDate() | date: "longDate"
                        }}</span>
                      </a>
                    </li>
                    <li>
                      <a
                        mdbRipple
                        class="dropdown-item text-center text-danger"
                        (click)="clearPushNotifs(); notifDropdown.hide()"
                        style="cursor: pointer"
                        >Clear</a
                      >
                    </li>
                  </ng-container>

                  <ng-template #noNotifs>
                    <li>
                      <h6 class="dropdown-header">No notifications to show.</h6>
                    </li>
                  </ng-template>
                </ul>
              </div>
            </li>

            <li class="nav-item me-3">
              <div mdbDropdown #userDropdown>
                <a
                  class="nav-link"
                  mdbDropdownToggle
                  role="button"
                  id="dropdownMenuLink"
                  (click)="$event.stopPropagation()"
                >
                  <i class="fas fa-user"></i>
                </a>
                <div
                  mdbDropdownMenu
                  class="dropdown-menu me-3"
                  [ngStyle]="{ overflow: 'hidden' }"
                >
                  <div
                    class="
                      bg-primary
                      p-3
                      d-flex
                      justify-content-between
                      align-items-center
                    "
                    *ngIf="authServ.isAdmin$ | async"
                  >
                    <h6 class="mb-0 text-light me-3">
                      {{
                        (authServ.userData$ | async)?.username ||
                          "Loading . . ."
                      }}
                    </h6>

                    <div
                      class="badge bg-danger"
                      *ngIf="authServ.isAdmin$ | async"
                    >
                      ADMIN
                    </div>
                  </div>

                  <div
                    class="list-group list-group-flush"
                    [ngStyle]="{ cursor: 'pointer' }"
                  >
                    <a
                      class="list-group-item list-group-item-action"
                      routerLink="/settings"
                      >Settings</a
                    >
                    <a
                      class="list-group-item list-group-item-action"
                      (click)="signOut()"
                    >
                      Sign Out</a
                    >
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Content Container -->
      <div id="content-container" class="flex-fill">
        <router-outlet></router-outlet>
      </div>

      <!-- Sidenav Slim Toggler -->
      <span
        id="sidenav-slim-toggler"
        class="mb-1 bg-primary text-white shadow-5"
        mdbRipple
        *ngIf="!sidenavHidden"
        (click)="sidenav.toggleSlim()"
      >
        <a>
          <i
            class="fas fa-angle-double-left m-2"
            [ngStyle]="{
              transform: sidenavCollapsed ? 'rotate(180deg)' : 'none'
            }"
          ></i
        ></a>
      </span>
    </div>
  </mdb-sidenav-content>
</mdb-sidenav-layout>
