<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    Export Entries
    <div class="badge badge-danger ms-3">Under Development</div>
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <div [formGroup]="exportEntriesConfigFormGroup">
    <div>
      <mdb-form-control>
        <mdb-select [multiple]="true" formControlName="headers">
          <mdb-select-all-option>Select all</mdb-select-all-option>
          <mdb-option *ngFor="let field of fields" [value]="field">{{
            field.header
          }}</mdb-option>
        </mdb-select>
        <label mdbLabel class="form-label">Header/s</label>
      </mdb-form-control>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-light shadow-0"
    (click)="modalRef.close()"
  >
    Cancel
  </button>
  <button type="button" class="btn btn-secondary" (click)="previewEntries()">
    Preview
  </button>
  <button type="button" class="btn btn-primary" (click)="exportEntries()">
    Export Entries
  </button>
</div>
