<div id="wrapper" class="d-flex flex-column">
  <div id="main-container" class="p-4 flex-fill">
    <div class="container-lg">
      <div class="row">
        <!-- Eligibility -->
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <button
                  type="button"
                  class="btn btn-success btn-lg btn-floating"
                >
                  <i class="fas fa-check"></i>
                </button>
                <div class="flex-fill"></div>
                <div
                  class="
                    h-100
                    text-end
                    d-flex
                    flex-column
                    justify-content-between
                  "
                >
                  <small class="text-muted text-uppercase">Eligibility</small>
                  <h1 class="mb-0">34</h1>
                </div>
              </div>
              <div class="progress mb-3">
                <div
                  class="progress-bar bg-success"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="card-text">3 added from last week</p>
            </div>
          </div>
        </div>
        <!-- Pregnant/Breastfeeding -->
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="card bg-info text-white">
                  <div class="card-body">PB</div>
                </div>
                <div class="flex-fill"></div>
                <div
                  class="
                    h-100
                    text-end
                    d-flex
                    flex-column
                    justify-content-between
                  "
                >
                  <small class="text-muted text-uppercase"
                    >Pregnant/Breastfeeding</small
                  >
                  <h1 class="mb-0">21</h1>
                </div>
              </div>
              <div class="progress mb-3">
                <div
                  class="progress-bar bg-info"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="card-text">0 added from last week</p>
            </div>
          </div>
        </div>

        <!-- High Viral Load -->
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="card bg-danger text-white">
                  <div class="card-body">HV</div>
                </div>
                <div class="flex-fill"></div>
                <div
                  class="
                    h-100
                    text-end
                    d-flex
                    flex-column
                    justify-content-between
                  "
                >
                  <small class="text-muted text-uppercase"
                    >High Viral Load</small
                  >
                  <h1 class="mb-0">26</h1>
                </div>
              </div>
              <div class="progress mb-3">
                <div
                  class="progress-bar bg-danger"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="card-text">7 added last week</p>
            </div>
          </div>
        </div>

        <!-- Clinic Visit Status -->
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="card bg-warning text-white">
                  <div class="card-body">EL</div>
                </div>
                <div class="flex-fill"></div>
                <div
                  class="
                    h-100
                    text-end
                    d-flex
                    flex-column
                    justify-content-between
                  "
                >
                  <small class="text-muted text-uppercase"
                    >Clinic Visit Status</small
                  >
                  <h1 class="mb-0">11</h1>
                </div>
              </div>
              <div class="progress mb-3">
                <div
                  class="progress-bar bg-warning"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="card-text">1 added from last week</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
