#dashboard-wrapper {
  height: 100%;
  overflow: hidden;

  .dropdown {
    cursor: pointer;
  }

  .show_box_progress {
    height: 20px;
  }
}

#main-container {
  overflow-y: auto;
}

.facilityFilterOption {
  .option-text {
    width: 100%;
    display: flex !important;
    align-items: center !important;
  }
}
